In [1]:
import numpy as np #lib para cálculos e funções em arrays multidimensionais
import pandas as pd #pandas - libpra manipulação e análise de dados de alta performance

## 1 - INGESTÃO: Carregando primeiro Dataset ##

In [2]:
pop_cor_idade_temp = pd.read_csv('cor-idade-2010.csv', sep=';', encoding = "ISO-8859-1",
skiprows=[0,1,2,11])

print('\nTabela Original - População / Raça / Idade')
display(pop_cor_idade_temp)

Tabela Original - População / Raça / Idade

,Raça / Cor,0 a 4,5 a 9,10 a 14,15 a 19,20 a 24,25 a 29,30 a 34,35 a 39,40 a 44,45 a 49,50 a 54,55 a 59,60 a 64,65 a 69,70 a 74,75 e mais,Ignorada,Total
0,Branca,444168,433860,466843,462715,570950,636194,599762,524122,485640,465774,425601,358120,283006,208206,169901,128717,161089,6824668
1,Preta,29954,39476,52706,56272,68610,75869,73139,64755,59093,51910,47914,37809,27559,18537,13717,9097,9666,736083
2,Amarela,8329,9020,10726,12276,17282,21097,20445,18141,17467,17002,17422,17874,17175,13987,11468,7516,9017,246244
3,Parda,227650,275068,336289,309997,333423,339887,315436,280563,249819,207196,175970,133704,94896,61310,41992,25485,24533,3433218
4,Indígena,813,840,843,982,1352,1484,1256,1072,939,823,734,590,413,293,221,152,170,12977
5,Ignorado,13,15,23,15,42,52,38,31,21,15,17,16,6,5,2,2,-,313
6,Total,710927,758279,867430,842257,991659,1074583,1010076,888684,812979,742720,667658,548113,423055,302338,237301,170969,204475,11253503

## 2 - Tratamento dos dados

In [3]:
## Converter os valores todos para numérico, se der erro, setar como NaN e depois converter pro número 0

pop_cor_idade = pop_cor_idade_temp.apply(pd.to_numeric, errors='coerce').fillna(0)


print('\nResultado do Primeiro Tratamento - População / Raça / Idade')


display(pop_cor_idade)

Resultado do Primeiro Tratamento - População / Raça / Idade

,Raça / Cor,0 a 4,5 a 9,10 a 14,15 a 19,20 a 24,25 a 29,30 a 34,35 a 39,40 a 44,45 a 49,50 a 54,55 a 59,60 a 64,65 a 69,70 a 74,75 e mais,Ignorada,Total
0,0.0,444168,433860,466843,462715,570950,636194,599762,524122,485640,465774,425601,358120,283006,208206,169901,128717,161089.0,6824668
1,0.0,29954,39476,52706,56272,68610,75869,73139,64755,59093,51910,47914,37809,27559,18537,13717,9097,9666.0,736083
2,0.0,8329,9020,10726,12276,17282,21097,20445,18141,17467,17002,17422,17874,17175,13987,11468,7516,9017.0,246244
3,0.0,227650,275068,336289,309997,333423,339887,315436,280563,249819,207196,175970,133704,94896,61310,41992,25485,24533.0,3433218
4,0.0,813,840,843,982,1352,1484,1256,1072,939,823,734,590,413,293,221,152,170.0,12977
5,0.0,13,15,23,15,42,52,38,31,21,15,17,16,6,5,2,2,0.0,313
6,0.0,710927,758279,867430,842257,991659,1074583,1010076,888684,812979,742720,667658,548113,423055,302338,237301,170969,204475.0,11253503

In [12]:
## Como eu perdi os dados (labels) da coluna 0 (que foram transformados no valor 0), preciso resgatar do Dataset original e sobrescrever.
pop_cor_idade['Raça / Cor'] = pop_cor_idade_temp['Raça / Cor']

# Renomeando o label da coluna pra otimização futura
pop_cor_idade.rename({'Raça / Cor': 'Cor'}, axis=1, inplace=True)

print('\nTabela Final - População / Raça / Idade')


display(pop_cor_idade)

Tabela Final - População / Raça / Idade

,Cor,0 a 4,5 a 9,10 a 14,15 a 19,20 a 24,25 a 29,30 a 34,35 a 39,40 a 44,45 a 49,50 a 54,55 a 59,60 a 64,65 a 69,70 a 74,75 e mais,Ignorada,Total
0,Branca,444168,433860,466843,462715,570950,636194,599762,524122,485640,465774,425601,358120,283006,208206,169901,128717,161089.0,6824668
1,Preta,29954,39476,52706,56272,68610,75869,73139,64755,59093,51910,47914,37809,27559,18537,13717,9097,9666.0,736083
2,Amarela,8329,9020,10726,12276,17282,21097,20445,18141,17467,17002,17422,17874,17175,13987,11468,7516,9017.0,246244
3,Parda,227650,275068,336289,309997,333423,339887,315436,280563,249819,207196,175970,133704,94896,61310,41992,25485,24533.0,3433218
4,Indígena,813,840,843,982,1352,1484,1256,1072,939,823,734,590,413,293,221,152,170.0,12977
5,Ignorado,13,15,23,15,42,52,38,31,21,15,17,16,6,5,2,2,0.0,313
6,Total,710927,758279,867430,842257,991659,1074583,1010076,888684,812979,742720,667658,548113,423055,302338,237301,170969,204475.0,11253503

## 3 - Exportanto resultado

In [15]:
pop_cor_idade.to_csv('cor-idade-2010-tratada.csv')