In [1]:
import numpy as np #lib para cálculos e funções em arrays multidimensionais
import pandas as pd #pandas - lib para manipulação e análise de dados de alta performance
import time #lib para manipulação de datas
import datetime ##lib para manipulação de datas

In [2]:
#Carregando o dataset de população por idade por raça
mort_ml = pd.read_csv('mortalidade-cor-semana-tratado.csv', sep=',')

#Removendo a coluna de índice
mort_ml = mort_ml.iloc[: , 1:]

#Exibindo o dataset
print('\nTabela Pré-Tratada - Mortalidade Cor Semana')
display(mort_ml)

Tabela Pré-Tratada - Mortalidade Cor Semana

          Cor  Habitantes    Semana    Óbitos  Óbitos por 100 mil
0      Branca     6824668  SE_20 12      51.0            0.747289
1       Preta      736083  SE_20 12       2.0            0.271708
2     Amarela      246244  SE_20 12       2.0            0.812203
3       Parda     3433218  SE_20 12       5.0            0.145636
4    Indígena       12977  SE_20 12       0.0            0.000000
5      Branca     6824668  SE_20 13     280.0            4.102764
6       Preta      736083  SE_20 13      19.0            2.581231
7     Amarela      246244  SE_20 13      14.0            5.685418
8       Parda     3433218  SE_20 13      47.0            1.368978
9    Indígena       12977  SE_20 13       1.0            7.705941
10     Branca     6824668  SE_20 14     871.0           12.762526
11      Preta      736083  SE_20 14      90.0           12.226882
12    Amarela      246244  SE_20 14      42.0           17.056253
13      Parda     3433218  SE_20 14     215.0            6.262346
14   Indígena       12977  SE_20 14       2.0           15.411883
15     Branca     6824668  SE_20 15    1899.0           27.825529
16      Preta      736083  SE_20 15     225.0           30.567205
17    Amarela      246244  SE_20 15      87.0           35.330810
18      Parda     3433218  SE_20 15     554.0           16.136464
19   Indígena       12977  SE_20 15       5.0           38.529706
20     Branca     6824668  SE_20 16    3369.0           49.365039
21      Preta      736083  SE_20 16     415.0           56.379512
22    Amarela      246244  SE_20 16     151.0           61.321291
23      Parda     3433218  SE_20 16    1080.0           31.457367
24   Indígena       12977  SE_20 16       8.0           61.647530
25     Branca     6824668  SE_20 17    5340.0           78.245564
26      Preta      736083  SE_20 17     683.0           92.788449
27    Amarela      246244  SE_20 17     243.0           98.682607
28      Parda     3433218  SE_20 17    1813.0           52.807599
29   Indígena       12977  SE_20 17      12.0           92.471295
..        ...         ...       ...       ...                 ...
180    Branca     6824668  SE_20 48  297016.0         4352.094490
181     Preta      736083  SE_20 48   44427.0         6035.596529
182   Amarela      246244  SE_20 48   11028.0         4478.484755
183     Parda     3433218  SE_20 48  117120.0         3411.376732
184  Indígena       12977  SE_20 48     374.0         2882.022039
185    Branca     6824668  SE_20 49  310275.0         4546.375003
186     Preta      736083  SE_20 49   46385.0         6301.599140
187   Amarela      246244  SE_20 49   11520.0         4678.286578
188     Parda     3433218  SE_20 49  122193.0         3559.138977
189  Indígena       12977  SE_20 49     389.0         2997.611158
190    Branca     6824668  SE_20 50  323796.0         4744.494531
191     Preta      736083  SE_20 50   48383.0         6573.035921
192   Amarela      246244  SE_20 50   12023.0         4882.555514
193     Parda     3433218  SE_20 50  127332.0         3708.823617
194  Indígena       12977  SE_20 50     405.0         3120.906219
195    Branca     6824668  SE_20 51  337618.0         4947.024529
196     Preta      736083  SE_20 51   50420.0         6849.771018
197   Amarela      246244  SE_20 51   12537.0         5091.291564
198     Parda     3433218  SE_20 51  132555.0         3860.954941
199  Indígena       12977  SE_20 51     421.0         3244.201279
200    Branca     6824668  SE_20 52  351724.0         5153.715902
201     Preta      736083  SE_20 52   52501.0         7132.483701
202   Amarela      246244  SE_20 52   13066.0         5306.119134
203     Parda     3433218  SE_20 52  137858.0         4015.416440
204  Indígena       12977  SE_20 52     437.0         3367.496340
205    Branca     6824668  SE_20 53  366021.0         5363.205946
206     Preta      736083  SE_20 53   54609.0         7418.864449
207   Amarela      246244  SE_20 53   13610.0         5527.038222
208     Parda     3433218  SE_20 53  143225.0         4171.742080
209  Indígena       12977  SE_20 53     453.0         3490.791400

[210 rows x 5 columns]

In [3]:
#display(mort_ml.columns[3:-1])

mort_melt = mort_ml.melt(id_vars=['Semana','Cor'], value_vars = mort_ml.columns[3:-1],var_name='TIPO', value_name='ÓBITOS')

#cor_se_melt = cor_se_soma.melt(id_vars=['Cor', 'Habitantes'], value_vars = cor_se_norm.columns[1:-2],var_name='Semana', value_name='Óbitos')

display(mort_melt)

       Semana       Cor    TIPO    ÓBITOS
0    SE_20 12    Branca  Óbitos      51.0
1    SE_20 12     Preta  Óbitos       2.0
2    SE_20 12   Amarela  Óbitos       2.0
3    SE_20 12     Parda  Óbitos       5.0
4    SE_20 12  Indígena  Óbitos       0.0
5    SE_20 13    Branca  Óbitos     280.0
6    SE_20 13     Preta  Óbitos      19.0
7    SE_20 13   Amarela  Óbitos      14.0
8    SE_20 13     Parda  Óbitos      47.0
9    SE_20 13  Indígena  Óbitos       1.0
10   SE_20 14    Branca  Óbitos     871.0
11   SE_20 14     Preta  Óbitos      90.0
12   SE_20 14   Amarela  Óbitos      42.0
13   SE_20 14     Parda  Óbitos     215.0
14   SE_20 14  Indígena  Óbitos       2.0
15   SE_20 15    Branca  Óbitos    1899.0
16   SE_20 15     Preta  Óbitos     225.0
17   SE_20 15   Amarela  Óbitos      87.0
18   SE_20 15     Parda  Óbitos     554.0
19   SE_20 15  Indígena  Óbitos       5.0
20   SE_20 16    Branca  Óbitos    3369.0
21   SE_20 16     Preta  Óbitos     415.0
22   SE_20 16   Amarela  Óbitos     151.0
23   SE_20 16     Parda  Óbitos    1080.0
24   SE_20 16  Indígena  Óbitos       8.0
25   SE_20 17    Branca  Óbitos    5340.0
26   SE_20 17     Preta  Óbitos     683.0
27   SE_20 17   Amarela  Óbitos     243.0
28   SE_20 17     Parda  Óbitos    1813.0
29   SE_20 17  Indígena  Óbitos      12.0
..        ...       ...     ...       ...
180  SE_20 48    Branca  Óbitos  297016.0
181  SE_20 48     Preta  Óbitos   44427.0
182  SE_20 48   Amarela  Óbitos   11028.0
183  SE_20 48     Parda  Óbitos  117120.0
184  SE_20 48  Indígena  Óbitos     374.0
185  SE_20 49    Branca  Óbitos  310275.0
186  SE_20 49     Preta  Óbitos   46385.0
187  SE_20 49   Amarela  Óbitos   11520.0
188  SE_20 49     Parda  Óbitos  122193.0
189  SE_20 49  Indígena  Óbitos     389.0
190  SE_20 50    Branca  Óbitos  323796.0
191  SE_20 50     Preta  Óbitos   48383.0
192  SE_20 50   Amarela  Óbitos   12023.0
193  SE_20 50     Parda  Óbitos  127332.0
194  SE_20 50  Indígena  Óbitos     405.0
195  SE_20 51    Branca  Óbitos  337618.0
196  SE_20 51     Preta  Óbitos   50420.0
197  SE_20 51   Amarela  Óbitos   12537.0
198  SE_20 51     Parda  Óbitos  132555.0
199  SE_20 51  Indígena  Óbitos     421.0
200  SE_20 52    Branca  Óbitos  351724.0
201  SE_20 52     Preta  Óbitos   52501.0
202  SE_20 52   Amarela  Óbitos   13066.0
203  SE_20 52     Parda  Óbitos  137858.0
204  SE_20 52  Indígena  Óbitos     437.0
205  SE_20 53    Branca  Óbitos  366021.0
206  SE_20 53     Preta  Óbitos   54609.0
207  SE_20 53   Amarela  Óbitos   13610.0
208  SE_20 53     Parda  Óbitos  143225.0
209  SE_20 53  Indígena  Óbitos     453.0

[210 rows x 4 columns]

In [4]:
#mort_melt["Mortes"] = mort_melt["Cor"] +" - "+mort_melt["VARNAME"]

#Removendo coluna TIPO
mort_melt.drop('TIPO', 1, inplace=True)

display(mort_melt)

       Semana       Cor    ÓBITOS
0    SE_20 12    Branca      51.0
1    SE_20 12     Preta       2.0
2    SE_20 12   Amarela       2.0
3    SE_20 12     Parda       5.0
4    SE_20 12  Indígena       0.0
5    SE_20 13    Branca     280.0
6    SE_20 13     Preta      19.0
7    SE_20 13   Amarela      14.0
8    SE_20 13     Parda      47.0
9    SE_20 13  Indígena       1.0
10   SE_20 14    Branca     871.0
11   SE_20 14     Preta      90.0
12   SE_20 14   Amarela      42.0
13   SE_20 14     Parda     215.0
14   SE_20 14  Indígena       2.0
15   SE_20 15    Branca    1899.0
16   SE_20 15     Preta     225.0
17   SE_20 15   Amarela      87.0
18   SE_20 15     Parda     554.0
19   SE_20 15  Indígena       5.0
20   SE_20 16    Branca    3369.0
21   SE_20 16     Preta     415.0
22   SE_20 16   Amarela     151.0
23   SE_20 16     Parda    1080.0
24   SE_20 16  Indígena       8.0
25   SE_20 17    Branca    5340.0
26   SE_20 17     Preta     683.0
27   SE_20 17   Amarela     243.0
28   SE_20 17     Parda    1813.0
29   SE_20 17  Indígena      12.0
..        ...       ...       ...
180  SE_20 48    Branca  297016.0
181  SE_20 48     Preta   44427.0
182  SE_20 48   Amarela   11028.0
183  SE_20 48     Parda  117120.0
184  SE_20 48  Indígena     374.0
185  SE_20 49    Branca  310275.0
186  SE_20 49     Preta   46385.0
187  SE_20 49   Amarela   11520.0
188  SE_20 49     Parda  122193.0
189  SE_20 49  Indígena     389.0
190  SE_20 50    Branca  323796.0
191  SE_20 50     Preta   48383.0
192  SE_20 50   Amarela   12023.0
193  SE_20 50     Parda  127332.0
194  SE_20 50  Indígena     405.0
195  SE_20 51    Branca  337618.0
196  SE_20 51     Preta   50420.0
197  SE_20 51   Amarela   12537.0
198  SE_20 51     Parda  132555.0
199  SE_20 51  Indígena     421.0
200  SE_20 52    Branca  351724.0
201  SE_20 52     Preta   52501.0
202  SE_20 52   Amarela   13066.0
203  SE_20 52     Parda  137858.0
204  SE_20 52  Indígena     437.0
205  SE_20 53    Branca  366021.0
206  SE_20 53     Preta   54609.0
207  SE_20 53   Amarela   13610.0
208  SE_20 53     Parda  143225.0
209  SE_20 53  Indígena     453.0

[210 rows x 3 columns]

In [5]:
#pivotando semanas
mort_pivot = mort_melt.pivot_table('ÓBITOS', ['Semana'], 'Cor')
#mort_pivot = mort_melt.pivot_table('ÓBITOS', 'Cor','Semana')

display(mort_pivot)

Cor       Amarela    Branca  Indígena     Parda    Preta
Semana
SE_20 12      2.0      51.0       0.0       5.0      2.0
SE_20 13     14.0     280.0       1.0      47.0     19.0
SE_20 14     42.0     871.0       2.0     215.0     90.0
SE_20 15     87.0    1899.0       5.0     554.0    225.0
SE_20 16    151.0    3369.0       8.0    1080.0    415.0
SE_20 17    243.0    5340.0      12.0    1813.0    683.0
SE_20 18    359.0    7945.0      16.0    2829.0   1053.0
SE_20 19    505.0   11165.0      22.0    4146.0   1509.0
SE_20 20    669.0   15070.0      29.0    5761.0   2085.0
SE_20 21    852.0   19643.0      37.0    7701.0   2746.0
SE_20 22   1054.0   24903.0      45.0    9911.0   3514.0
SE_20 23   1278.0   30817.0      54.0   12383.0   4399.0
SE_20 24   1526.0   37389.0      64.0   15125.0   5396.0
SE_20 25   1789.0   44516.0      75.0   18076.0   6489.0
SE_20 26   2068.0   52129.0      86.0   21202.0   7659.0
SE_20 27   2368.0   60167.0      97.0   24484.0   8904.0
SE_20 28   2679.0   68644.0     108.0   27916.0  10208.0
SE_20 29   3009.0   77562.0     120.0   31490.0  11581.0
SE_20 30   3344.0   86887.0     132.0   35212.0  13016.0
SE_20 31   3692.0   96566.0     144.0   39061.0  14493.0
SE_20 32   4058.0  106623.0     156.0   43052.0  16011.0
SE_20 33   4435.0  117010.0     168.0   47172.0  17580.0
SE_20 34   4823.0  127679.0     180.0   51396.0  19192.0
SE_20 35   5222.0  138648.0     192.0   55708.0  20831.0
SE_20 36   5632.0  149855.0     204.0   60100.0  22505.0
SE_20 37   6053.0  161301.0     217.0   64577.0  24210.0
SE_20 38   6480.0  172958.0     230.0   69119.0  25949.0
SE_20 39   6912.0  184779.0     244.0   73714.0  27715.0
SE_20 40   7349.0  196776.0     258.0   78363.0  29504.0
SE_20 41   7790.0  208911.0     272.0   83068.0  31312.0
SE_20 42   8237.0  221152.0     286.0   87820.0  33140.0
SE_20 43   8688.0  233485.0     300.0   92603.0  34986.0
SE_20 44   9145.0  245923.0     314.0   97423.0  36841.0
SE_20 45   9604.0  258466.0     329.0  102279.0  38710.0
SE_20 46  10069.0  271146.0     344.0  107177.0  40595.0
SE_20 47  10544.0  283985.0     359.0  112123.0  42496.0
SE_20 48  11028.0  297016.0     374.0  117120.0  44427.0
SE_20 49  11520.0  310275.0     389.0  122193.0  46385.0
SE_20 50  12023.0  323796.0     405.0  127332.0  48383.0
SE_20 51  12537.0  337618.0     421.0  132555.0  50420.0
SE_20 52  13066.0  351724.0     437.0  137858.0  52501.0
SE_20 53  13610.0  366021.0     453.0  143225.0  54609.0

### Salvando Dataset

In [6]:
#Salvando Dataset em Arquivo
mort_pivot.to_csv('cor-semana-pivot-tratado.csv')

In [7]:
#Adicionando coluna TOTAL de Mortes
mort_pivot['Total'] = mort_pivot['Amarela']+mort_pivot['Branca']+mort_pivot['Indígena']+mort_pivot['Parda']+mort_pivot['Preta']

In [8]:
mort_pivot.head()

Cor       Amarela  Branca  Indígena   Parda  Preta   Total
Semana
SE_20 12      2.0    51.0       0.0     5.0    2.0    60.0
SE_20 13     14.0   280.0       1.0    47.0   19.0   361.0
SE_20 14     42.0   871.0       2.0   215.0   90.0  1220.0
SE_20 15     87.0  1899.0       5.0   554.0  225.0  2770.0
SE_20 16    151.0  3369.0       8.0  1080.0  415.0  5023.0

In [9]:
#Salvando Arquivo com o número de mortes
mort_pivot.to_csv('cor-semana-pivot-tratado-total.csv')

In [15]:
df_total = pd.read_csv('cor-semana-pivot-tratado-total.csv', sep=',')
#df_total = mort_pivot

df_total.head()

     Semana  Amarela  Branca  Indígena   Parda  Preta   Total
0  SE_20 12      2.0    51.0       0.0     5.0    2.0    60.0
1  SE_20 13     14.0   280.0       1.0    47.0   19.0   361.0
2  SE_20 14     42.0   871.0       2.0   215.0   90.0  1220.0
3  SE_20 15     87.0  1899.0       5.0   554.0  225.0  2770.0
4  SE_20 16    151.0  3369.0       8.0  1080.0  415.0  5023.0

In [16]:
#Renomeando item para manter o padrão
df_total["Semana"].replace({"SE_20 11_1ºÓbito Covid19": "SE_20"}, inplace=True)

In [17]:
print(df_total)

      Semana  Amarela    Branca  Indígena     Parda    Preta     Total
0   SE_20 12      2.0      51.0       0.0       5.0      2.0      60.0
1   SE_20 13     14.0     280.0       1.0      47.0     19.0     361.0
2   SE_20 14     42.0     871.0       2.0     215.0     90.0    1220.0
3   SE_20 15     87.0    1899.0       5.0     554.0    225.0    2770.0
4   SE_20 16    151.0    3369.0       8.0    1080.0    415.0    5023.0
5   SE_20 17    243.0    5340.0      12.0    1813.0    683.0    8091.0
6   SE_20 18    359.0    7945.0      16.0    2829.0   1053.0   12202.0
7   SE_20 19    505.0   11165.0      22.0    4146.0   1509.0   17347.0
8   SE_20 20    669.0   15070.0      29.0    5761.0   2085.0   23614.0
9   SE_20 21    852.0   19643.0      37.0    7701.0   2746.0   30979.0
10  SE_20 22   1054.0   24903.0      45.0    9911.0   3514.0   39427.0
11  SE_20 23   1278.0   30817.0      54.0   12383.0   4399.0   48931.0
12  SE_20 24   1526.0   37389.0      64.0   15125.0   5396.0   59500.0
13  SE_20 25   1789.0   44516.0      75.0   18076.0   6489.0   70945.0
14  SE_20 26   2068.0   52129.0      86.0   21202.0   7659.0   83144.0
15  SE_20 27   2368.0   60167.0      97.0   24484.0   8904.0   96020.0
16  SE_20 28   2679.0   68644.0     108.0   27916.0  10208.0  109555.0
17  SE_20 29   3009.0   77562.0     120.0   31490.0  11581.0  123762.0
18  SE_20 30   3344.0   86887.0     132.0   35212.0  13016.0  138591.0
19  SE_20 31   3692.0   96566.0     144.0   39061.0  14493.0  153956.0
20  SE_20 32   4058.0  106623.0     156.0   43052.0  16011.0  169900.0
21  SE_20 33   4435.0  117010.0     168.0   47172.0  17580.0  186365.0
22  SE_20 34   4823.0  127679.0     180.0   51396.0  19192.0  203270.0
23  SE_20 35   5222.0  138648.0     192.0   55708.0  20831.0  220601.0
24  SE_20 36   5632.0  149855.0     204.0   60100.0  22505.0  238296.0
25  SE_20 37   6053.0  161301.0     217.0   64577.0  24210.0  256358.0
26  SE_20 38   6480.0  172958.0     230.0   69119.0  25949.0  274736.0
27  SE_20 39   6912.0  184779.0     244.0   73714.0  27715.0  293364.0
28  SE_20 40   7349.0  196776.0     258.0   78363.0  29504.0  312250.0
29  SE_20 41   7790.0  208911.0     272.0   83068.0  31312.0  331353.0
30  SE_20 42   8237.0  221152.0     286.0   87820.0  33140.0  350635.0
31  SE_20 43   8688.0  233485.0     300.0   92603.0  34986.0  370062.0
32  SE_20 44   9145.0  245923.0     314.0   97423.0  36841.0  389646.0
33  SE_20 45   9604.0  258466.0     329.0  102279.0  38710.0  409388.0
34  SE_20 46  10069.0  271146.0     344.0  107177.0  40595.0  429331.0
35  SE_20 47  10544.0  283985.0     359.0  112123.0  42496.0  449507.0
36  SE_20 48  11028.0  297016.0     374.0  117120.0  44427.0  469965.0
37  SE_20 49  11520.0  310275.0     389.0  122193.0  46385.0  490762.0
38  SE_20 50  12023.0  323796.0     405.0  127332.0  48383.0  511939.0
39  SE_20 51  12537.0  337618.0     421.0  132555.0  50420.0  533551.0
40  SE_20 52  13066.0  351724.0     437.0  137858.0  52501.0  555586.0
41  SE_20 53  13610.0  366021.0     453.0  143225.0  54609.0  577918.0

In [18]:
#criando coluna apenas com o número da semana (em relação ao ano de 2020)
df_total['Semana_Num']=df_total['Semana'].str.slice(6,8)

In [19]:
display(df_total)

,Semana,Amarela,Branca,Indígena,Parda,Preta,Total,Semana_Num
0,SE_20 12,2.0,51.0,0.0,5.0,2.0,60.0,12
1,SE_20 13,14.0,280.0,1.0,47.0,19.0,361.0,13
2,SE_20 14,42.0,871.0,2.0,215.0,90.0,1220.0,14
3,SE_20 15,87.0,1899.0,5.0,554.0,225.0,2770.0,15
4,SE_20 16,151.0,3369.0,8.0,1080.0,415.0,5023.0,16
5,SE_20 17,243.0,5340.0,12.0,1813.0,683.0,8091.0,17
6,SE_20 18,359.0,7945.0,16.0,2829.0,1053.0,12202.0,18
7,SE_20 19,505.0,11165.0,22.0,4146.0,1509.0,17347.0,19
8,SE_20 20,669.0,15070.0,29.0,5761.0,2085.0,23614.0,20
9,SE_20 21,852.0,19643.0,37.0,7701.0,2746.0,30979.0,21
10,SE_20 22,1054.0,24903.0,45.0,9911.0,3514.0,39427.0,22
11,SE_20 23,1278.0,30817.0,54.0,12383.0,4399.0,48931.0,23
12,SE_20 24,1526.0,37389.0,64.0,15125.0,5396.0,59500.0,24
13,SE_20 25,1789.0,44516.0,75.0,18076.0,6489.0,70945.0,25
14,SE_20 26,2068.0,52129.0,86.0,21202.0,7659.0,83144.0,26
15,SE_20 27,2368.0,60167.0,97.0,24484.0,8904.0,96020.0,27
16,SE_20 28,2679.0,68644.0,108.0,27916.0,10208.0,109555.0,28
17,SE_20 29,3009.0,77562.0,120.0,31490.0,11581.0,123762.0,29
18,SE_20 30,3344.0,86887.0,132.0,35212.0,13016.0,138591.0,30
19,SE_20 31,3692.0,96566.0,144.0,39061.0,14493.0,153956.0,31
20,SE_20 32,4058.0,106623.0,156.0,43052.0,16011.0,169900.0,32
21,SE_20 33,4435.0,117010.0,168.0,47172.0,17580.0,186365.0,33
22,SE_20 34,4823.0,127679.0,180.0,51396.0,19192.0,203270.0,34
23,SE_20 35,5222.0,138648.0,192.0,55708.0,20831.0,220601.0,35
24,SE_20 36,5632.0,149855.0,204.0,60100.0,22505.0,238296.0,36
25,SE_20 37,6053.0,161301.0,217.0,64577.0,24210.0,256358.0,37
26,SE_20 38,6480.0,172958.0,230.0,69119.0,25949.0,274736.0,38
27,SE_20 39,6912.0,184779.0,244.0,73714.0,27715.0,293364.0,39
28,SE_20 40,7349.0,196776.0,258.0,78363.0,29504.0,312250.0,40
29,SE_20 41,7790.0,208911.0,272.0,83068.0,31312.0,331353.0,41
30,SE_20 42,8237.0,221152.0,286.0,87820.0,33140.0,350635.0,42
31,SE_20 43,8688.0,233485.0,300.0,92603.0,34986.0,370062.0,43
32,SE_20 44,9145.0,245923.0,314.0,97423.0,36841.0,389646.0,44
33,SE_20 45,9604.0,258466.0,329.0,102279.0,38710.0,409388.0,45
34,SE_20 46,10069.0,271146.0,344.0,107177.0,40595.0,429331.0,46
35,SE_20 47,10544.0,283985.0,359.0,112123.0,42496.0,449507.0,47
36,SE_20 48,11028.0,297016.0,374.0,117120.0,44427.0,469965.0,48
37,SE_20 49,11520.0,310275.0,389.0,122193.0,46385.0,490762.0,49
38,SE_20 50,12023.0,323796.0,405.0,127332.0,48383.0,511939.0,50
39,SE_20 51,12537.0,337618.0,421.0,132555.0,50420.0,533551.0,51
40,SE_20 52,13066.0,351724.0,437.0,137858.0,52501.0,555586.0,52
41,SE_20 53,13610.0,366021.0,453.0,143225.0,54609.0,577918.0,53

In [37]:
#removendo a última semana pois ela pega também o ano de 2021
df_total.drop(index=df_total.index[-1], 
        axis=0, 
        inplace=True)
display(df_total)

,Semana,Amarela,Branca,Indígena,Parda,Preta,Total,Semana_Num
0,SE_20 12,2.0,51.0,0.0,5.0,2.0,60.0,12
1,SE_20 13,14.0,280.0,1.0,47.0,19.0,361.0,13
2,SE_20 14,42.0,871.0,2.0,215.0,90.0,1220.0,14
3,SE_20 15,87.0,1899.0,5.0,554.0,225.0,2770.0,15
4,SE_20 16,151.0,3369.0,8.0,1080.0,415.0,5023.0,16
5,SE_20 17,243.0,5340.0,12.0,1813.0,683.0,8091.0,17
6,SE_20 18,359.0,7945.0,16.0,2829.0,1053.0,12202.0,18
7,SE_20 19,505.0,11165.0,22.0,4146.0,1509.0,17347.0,19
8,SE_20 20,669.0,15070.0,29.0,5761.0,2085.0,23614.0,20
9,SE_20 21,852.0,19643.0,37.0,7701.0,2746.0,30979.0,21
10,SE_20 22,1054.0,24903.0,45.0,9911.0,3514.0,39427.0,22
11,SE_20 23,1278.0,30817.0,54.0,12383.0,4399.0,48931.0,23
12,SE_20 24,1526.0,37389.0,64.0,15125.0,5396.0,59500.0,24
13,SE_20 25,1789.0,44516.0,75.0,18076.0,6489.0,70945.0,25
14,SE_20 26,2068.0,52129.0,86.0,21202.0,7659.0,83144.0,26
15,SE_20 27,2368.0,60167.0,97.0,24484.0,8904.0,96020.0,27
16,SE_20 28,2679.0,68644.0,108.0,27916.0,10208.0,109555.0,28
17,SE_20 29,3009.0,77562.0,120.0,31490.0,11581.0,123762.0,29
18,SE_20 30,3344.0,86887.0,132.0,35212.0,13016.0,138591.0,30
19,SE_20 31,3692.0,96566.0,144.0,39061.0,14493.0,153956.0,31
20,SE_20 32,4058.0,106623.0,156.0,43052.0,16011.0,169900.0,32
21,SE_20 33,4435.0,117010.0,168.0,47172.0,17580.0,186365.0,33
22,SE_20 34,4823.0,127679.0,180.0,51396.0,19192.0,203270.0,34
23,SE_20 35,5222.0,138648.0,192.0,55708.0,20831.0,220601.0,35
24,SE_20 36,5632.0,149855.0,204.0,60100.0,22505.0,238296.0,36
25,SE_20 37,6053.0,161301.0,217.0,64577.0,24210.0,256358.0,37
26,SE_20 38,6480.0,172958.0,230.0,69119.0,25949.0,274736.0,38
27,SE_20 39,6912.0,184779.0,244.0,73714.0,27715.0,293364.0,39
28,SE_20 40,7349.0,196776.0,258.0,78363.0,29504.0,312250.0,40
29,SE_20 41,7790.0,208911.0,272.0,83068.0,31312.0,331353.0,41
30,SE_20 42,8237.0,221152.0,286.0,87820.0,33140.0,350635.0,42
31,SE_20 43,8688.0,233485.0,300.0,92603.0,34986.0,370062.0,43
32,SE_20 44,9145.0,245923.0,314.0,97423.0,36841.0,389646.0,44
33,SE_20 45,9604.0,258466.0,329.0,102279.0,38710.0,409388.0,45
34,SE_20 46,10069.0,271146.0,344.0,107177.0,40595.0,429331.0,46
35,SE_20 47,10544.0,283985.0,359.0,112123.0,42496.0,449507.0,47
36,SE_20 48,11028.0,297016.0,374.0,117120.0,44427.0,469965.0,48
37,SE_20 49,11520.0,310275.0,389.0,122193.0,46385.0,490762.0,49
38,SE_20 50,12023.0,323796.0,405.0,127332.0,48383.0,511939.0,50
39,SE_20 51,12537.0,337618.0,421.0,132555.0,50420.0,533551.0,51
40,SE_20 52,13066.0,351724.0,437.0,137858.0,52501.0,555586.0,52

In [38]:
#Trabalhando com o número da semana
data = df_total["Semana_Num"].to_numpy().astype(int)
print(data)

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52]

In [41]:
#Criando um vetor temporário para armazenar a data correspondente
data2 = [None]*41
#data2 = []

i=0

#percorrendo o vetor de datas do ano e convertendo pra datas normais do ano de 2020 (salvando em outro vetor)
for item in data:
    print("i = "+str(i))
    print("item = "+str(item))
    data2[i]=(time.asctime(time.strptime('{} {} 1'.format(2020, item), '%Y %W %w')))
    print("data = "+data2[i])
    i=i+1
    print("-----------------")

i = 0
item = 12
data = Mon Mar 23 00:00:00 2020
-----------------
i = 1
item = 13
data = Mon Mar 30 00:00:00 2020
-----------------
i = 2
item = 14
data = Mon Apr  6 00:00:00 2020
-----------------
i = 3
item = 15
data = Mon Apr 13 00:00:00 2020
-----------------
i = 4
item = 16
data = Mon Apr 20 00:00:00 2020
-----------------
i = 5
item = 17
data = Mon Apr 27 00:00:00 2020
-----------------
i = 6
item = 18
data = Mon May  4 00:00:00 2020
-----------------
i = 7
item = 19
data = Mon May 11 00:00:00 2020
-----------------
i = 8
item = 20
data = Mon May 18 00:00:00 2020
-----------------
i = 9
item = 21
data = Mon May 25 00:00:00 2020
-----------------
i = 10
item = 22
data = Mon Jun  1 00:00:00 2020
-----------------
i = 11
item = 23
data = Mon Jun  8 00:00:00 2020
-----------------
i = 12
item = 24
data = Mon Jun 15 00:00:00 2020
-----------------
i = 13
item = 25
data = Mon Jun 22 00:00:00 2020
-----------------
i = 14
item = 26
data = Mon Jun 29 00:00:00 2020
-----------------
i = 15
item = 27
data = Mon Jul  6 00:00:00 2020
-----------------
i = 16
item = 28
data = Mon Jul 13 00:00:00 2020
-----------------
i = 17
item = 29
data = Mon Jul 20 00:00:00 2020
-----------------
i = 18
item = 30
data = Mon Jul 27 00:00:00 2020
-----------------
i = 19
item = 31
data = Mon Aug  3 00:00:00 2020
-----------------
i = 20
item = 32
data = Mon Aug 10 00:00:00 2020
-----------------
i = 21
item = 33
data = Mon Aug 17 00:00:00 2020
-----------------
i = 22
item = 34
data = Mon Aug 24 00:00:00 2020
-----------------
i = 23
item = 35
data = Mon Aug 31 00:00:00 2020
-----------------
i = 24
item = 36
data = Mon Sep  7 00:00:00 2020
-----------------
i = 25
item = 37
data = Mon Sep 14 00:00:00 2020
-----------------
i = 26
item = 38
data = Mon Sep 21 00:00:00 2020
-----------------
i = 27
item = 39
data = Mon Sep 28 00:00:00 2020
-----------------
i = 28
item = 40
data = Mon Oct  5 00:00:00 2020
-----------------
i = 29
item = 41
data = Mon Oct 12 00:00:00 2020
-----------------
i = 30
item = 42
data = Mon Oct 19 00:00:00 2020
-----------------
i = 31
item = 43
data = Mon Oct 26 00:00:00 2020
-----------------
i = 32
item = 44
data = Mon Nov  2 00:00:00 2020
-----------------
i = 33
item = 45
data = Mon Nov  9 00:00:00 2020
-----------------
i = 34
item = 46
data = Mon Nov 16 00:00:00 2020
-----------------
i = 35
item = 47
data = Mon Nov 23 00:00:00 2020
-----------------
i = 36
item = 48
data = Mon Nov 30 00:00:00 2020
-----------------
i = 37
item = 49
data = Mon Dec  7 00:00:00 2020
-----------------
i = 38
item = 50
data = Mon Dec 14 00:00:00 2020
-----------------
i = 39
item = 51
data = Mon Dec 21 00:00:00 2020
-----------------
i = 40
item = 52
data = Mon Dec 28 00:00:00 2020
-----------------

In [42]:
#Vetor de datas finalizado
display(data2)

['Mon Mar 23 00:00:00 2020',
 'Mon Mar 30 00:00:00 2020',
 'Mon Apr  6 00:00:00 2020',
 'Mon Apr 13 00:00:00 2020',
 'Mon Apr 20 00:00:00 2020',
 'Mon Apr 27 00:00:00 2020',
 'Mon May  4 00:00:00 2020',
 'Mon May 11 00:00:00 2020',
 'Mon May 18 00:00:00 2020',
 'Mon May 25 00:00:00 2020',
 'Mon Jun  1 00:00:00 2020',
 'Mon Jun  8 00:00:00 2020',
 'Mon Jun 15 00:00:00 2020',
 'Mon Jun 22 00:00:00 2020',
 'Mon Jun 29 00:00:00 2020',
 'Mon Jul  6 00:00:00 2020',
 'Mon Jul 13 00:00:00 2020',
 'Mon Jul 20 00:00:00 2020',
 'Mon Jul 27 00:00:00 2020',
 'Mon Aug  3 00:00:00 2020',
 'Mon Aug 10 00:00:00 2020',
 'Mon Aug 17 00:00:00 2020',
 'Mon Aug 24 00:00:00 2020',
 'Mon Aug 31 00:00:00 2020',
 'Mon Sep  7 00:00:00 2020',
 'Mon Sep 14 00:00:00 2020',
 'Mon Sep 21 00:00:00 2020',
 'Mon Sep 28 00:00:00 2020',
 'Mon Oct  5 00:00:00 2020',
 'Mon Oct 12 00:00:00 2020',
 'Mon Oct 19 00:00:00 2020',
 'Mon Oct 26 00:00:00 2020',
 'Mon Nov  2 00:00:00 2020',
 'Mon Nov  9 00:00:00 2020',
 'Mon Nov 16 00:00:00 2020',
 'Mon Nov 23 00:00:00 2020',
 'Mon Nov 30 00:00:00 2020',
 'Mon Dec  7 00:00:00 2020',
 'Mon Dec 14 00:00:00 2020',
 'Mon Dec 21 00:00:00 2020',
 'Mon Dec 28 00:00:00 2020']

In [43]:
#Adicionando as datas no formato comum ao Dataset
df_total['Data']=data2

In [44]:
display(df_total)

,Semana,Amarela,Branca,Indígena,Parda,Preta,Total,Semana_Num,Data
0,SE_20 12,2.0,51.0,0.0,5.0,2.0,60.0,12,Mon Mar 23 00:00:00 2020
1,SE_20 13,14.0,280.0,1.0,47.0,19.0,361.0,13,Mon Mar 30 00:00:00 2020
2,SE_20 14,42.0,871.0,2.0,215.0,90.0,1220.0,14,Mon Apr 6 00:00:00 2020
3,SE_20 15,87.0,1899.0,5.0,554.0,225.0,2770.0,15,Mon Apr 13 00:00:00 2020
4,SE_20 16,151.0,3369.0,8.0,1080.0,415.0,5023.0,16,Mon Apr 20 00:00:00 2020
5,SE_20 17,243.0,5340.0,12.0,1813.0,683.0,8091.0,17,Mon Apr 27 00:00:00 2020
6,SE_20 18,359.0,7945.0,16.0,2829.0,1053.0,12202.0,18,Mon May 4 00:00:00 2020
7,SE_20 19,505.0,11165.0,22.0,4146.0,1509.0,17347.0,19,Mon May 11 00:00:00 2020
8,SE_20 20,669.0,15070.0,29.0,5761.0,2085.0,23614.0,20,Mon May 18 00:00:00 2020
9,SE_20 21,852.0,19643.0,37.0,7701.0,2746.0,30979.0,21,Mon May 25 00:00:00 2020
10,SE_20 22,1054.0,24903.0,45.0,9911.0,3514.0,39427.0,22,Mon Jun 1 00:00:00 2020
11,SE_20 23,1278.0,30817.0,54.0,12383.0,4399.0,48931.0,23,Mon Jun 8 00:00:00 2020
12,SE_20 24,1526.0,37389.0,64.0,15125.0,5396.0,59500.0,24,Mon Jun 15 00:00:00 2020
13,SE_20 25,1789.0,44516.0,75.0,18076.0,6489.0,70945.0,25,Mon Jun 22 00:00:00 2020
14,SE_20 26,2068.0,52129.0,86.0,21202.0,7659.0,83144.0,26,Mon Jun 29 00:00:00 2020
15,SE_20 27,2368.0,60167.0,97.0,24484.0,8904.0,96020.0,27,Mon Jul 6 00:00:00 2020
16,SE_20 28,2679.0,68644.0,108.0,27916.0,10208.0,109555.0,28,Mon Jul 13 00:00:00 2020
17,SE_20 29,3009.0,77562.0,120.0,31490.0,11581.0,123762.0,29,Mon Jul 20 00:00:00 2020
18,SE_20 30,3344.0,86887.0,132.0,35212.0,13016.0,138591.0,30,Mon Jul 27 00:00:00 2020
19,SE_20 31,3692.0,96566.0,144.0,39061.0,14493.0,153956.0,31,Mon Aug 3 00:00:00 2020
20,SE_20 32,4058.0,106623.0,156.0,43052.0,16011.0,169900.0,32,Mon Aug 10 00:00:00 2020
21,SE_20 33,4435.0,117010.0,168.0,47172.0,17580.0,186365.0,33,Mon Aug 17 00:00:00 2020
22,SE_20 34,4823.0,127679.0,180.0,51396.0,19192.0,203270.0,34,Mon Aug 24 00:00:00 2020
23,SE_20 35,5222.0,138648.0,192.0,55708.0,20831.0,220601.0,35,Mon Aug 31 00:00:00 2020
24,SE_20 36,5632.0,149855.0,204.0,60100.0,22505.0,238296.0,36,Mon Sep 7 00:00:00 2020
25,SE_20 37,6053.0,161301.0,217.0,64577.0,24210.0,256358.0,37,Mon Sep 14 00:00:00 2020
26,SE_20 38,6480.0,172958.0,230.0,69119.0,25949.0,274736.0,38,Mon Sep 21 00:00:00 2020
27,SE_20 39,6912.0,184779.0,244.0,73714.0,27715.0,293364.0,39,Mon Sep 28 00:00:00 2020
28,SE_20 40,7349.0,196776.0,258.0,78363.0,29504.0,312250.0,40,Mon Oct 5 00:00:00 2020
29,SE_20 41,7790.0,208911.0,272.0,83068.0,31312.0,331353.0,41,Mon Oct 12 00:00:00 2020
30,SE_20 42,8237.0,221152.0,286.0,87820.0,33140.0,350635.0,42,Mon Oct 19 00:00:00 2020
31,SE_20 43,8688.0,233485.0,300.0,92603.0,34986.0,370062.0,43,Mon Oct 26 00:00:00 2020
32,SE_20 44,9145.0,245923.0,314.0,97423.0,36841.0,389646.0,44,Mon Nov 2 00:00:00 2020
33,SE_20 45,9604.0,258466.0,329.0,102279.0,38710.0,409388.0,45,Mon Nov 9 00:00:00 2020
34,SE_20 46,10069.0,271146.0,344.0,107177.0,40595.0,429331.0,46,Mon Nov 16 00:00:00 2020
35,SE_20 47,10544.0,283985.0,359.0,112123.0,42496.0,449507.0,47,Mon Nov 23 00:00:00 2020
36,SE_20 48,11028.0,297016.0,374.0,117120.0,44427.0,469965.0,48,Mon Nov 30 00:00:00 2020
37,SE_20 49,11520.0,310275.0,389.0,122193.0,46385.0,490762.0,49,Mon Dec 7 00:00:00 2020
38,SE_20 50,12023.0,323796.0,405.0,127332.0,48383.0,511939.0,50,Mon Dec 14 00:00:00 2020
39,SE_20 51,12537.0,337618.0,421.0,132555.0,50420.0,533551.0,51,Mon Dec 21 00:00:00 2020
40,SE_20 52,13066.0,351724.0,437.0,137858.0,52501.0,555586.0,52,Mon Dec 28 00:00:00 2020

In [45]:
#Salvando dataset em arquivo
df_total.to_csv('cor-semana-pivot-tratado-total-dates.csv')

## Simplificando os formatos de datas para trabalhar melhor com TimeSeries nos motores de IA

In [52]:
# Usando vetores de apoio
data = df_total["Data"]
print(data)

data2 = [None]*41
i=0

0     Mon Mar 23 00:00:00 2020
1     Mon Mar 30 00:00:00 2020
2     Mon Apr  6 00:00:00 2020
3     Mon Apr 13 00:00:00 2020
4     Mon Apr 20 00:00:00 2020
5     Mon Apr 27 00:00:00 2020
6     Mon May  4 00:00:00 2020
7     Mon May 11 00:00:00 2020
8     Mon May 18 00:00:00 2020
9     Mon May 25 00:00:00 2020
10    Mon Jun  1 00:00:00 2020
11    Mon Jun  8 00:00:00 2020
12    Mon Jun 15 00:00:00 2020
13    Mon Jun 22 00:00:00 2020
14    Mon Jun 29 00:00:00 2020
15    Mon Jul  6 00:00:00 2020
16    Mon Jul 13 00:00:00 2020
17    Mon Jul 20 00:00:00 2020
18    Mon Jul 27 00:00:00 2020
19    Mon Aug  3 00:00:00 2020
20    Mon Aug 10 00:00:00 2020
21    Mon Aug 17 00:00:00 2020
22    Mon Aug 24 00:00:00 2020
23    Mon Aug 31 00:00:00 2020
24    Mon Sep  7 00:00:00 2020
25    Mon Sep 14 00:00:00 2020
26    Mon Sep 21 00:00:00 2020
27    Mon Sep 28 00:00:00 2020
28    Mon Oct  5 00:00:00 2020
29    Mon Oct 12 00:00:00 2020
30    Mon Oct 19 00:00:00 2020
31    Mon Oct 26 00:00:00 2020
32    Mon Nov  2 00:00:00 2020
33    Mon Nov  9 00:00:00 2020
34    Mon Nov 16 00:00:00 2020
35    Mon Nov 23 00:00:00 2020
36    Mon Nov 30 00:00:00 2020
37    Mon Dec  7 00:00:00 2020
38    Mon Dec 14 00:00:00 2020
39    Mon Dec 21 00:00:00 2020
40    Mon Dec 28 00:00:00 2020
Name: Data, dtype: object

In [54]:
display(len(data))
display(len(data2))

41

41

In [56]:
for item in data:
  print("i = "+str(i))
  print("item "+"i "+"= "+str(item))
  data2[i]=datetime.datetime.strptime(item,
'%a %b %d %H:%M:%S %Y').strftime('%d/%m/%y')
  print("data2 = "+str(data2[i]))
  i=i+1
  print("--------------------------------")

i = 0
item i = Mon Mar 23 00:00:00 2020
data2 = 23/03/20
--------------------------------
i = 1
item i = Mon Mar 30 00:00:00 2020
data2 = 30/03/20
--------------------------------
i = 2
item i = Mon Apr  6 00:00:00 2020
data2 = 06/04/20
--------------------------------
i = 3
item i = Mon Apr 13 00:00:00 2020
data2 = 13/04/20
--------------------------------
i = 4
item i = Mon Apr 20 00:00:00 2020
data2 = 20/04/20
--------------------------------
i = 5
item i = Mon Apr 27 00:00:00 2020
data2 = 27/04/20
--------------------------------
i = 6
item i = Mon May  4 00:00:00 2020
data2 = 04/05/20
--------------------------------
i = 7
item i = Mon May 11 00:00:00 2020
data2 = 11/05/20
--------------------------------
i = 8
item i = Mon May 18 00:00:00 2020
data2 = 18/05/20
--------------------------------
i = 9
item i = Mon May 25 00:00:00 2020
data2 = 25/05/20
--------------------------------
i = 10
item i = Mon Jun  1 00:00:00 2020
data2 = 01/06/20
--------------------------------
i = 11
item i = Mon Jun  8 00:00:00 2020
data2 = 08/06/20
--------------------------------
i = 12
item i = Mon Jun 15 00:00:00 2020
data2 = 15/06/20
--------------------------------
i = 13
item i = Mon Jun 22 00:00:00 2020
data2 = 22/06/20
--------------------------------
i = 14
item i = Mon Jun 29 00:00:00 2020
data2 = 29/06/20
--------------------------------
i = 15
item i = Mon Jul  6 00:00:00 2020
data2 = 06/07/20
--------------------------------
i = 16
item i = Mon Jul 13 00:00:00 2020
data2 = 13/07/20
--------------------------------
i = 17
item i = Mon Jul 20 00:00:00 2020
data2 = 20/07/20
--------------------------------
i = 18
item i = Mon Jul 27 00:00:00 2020
data2 = 27/07/20
--------------------------------
i = 19
item i = Mon Aug  3 00:00:00 2020
data2 = 03/08/20
--------------------------------
i = 20
item i = Mon Aug 10 00:00:00 2020
data2 = 10/08/20
--------------------------------
i = 21
item i = Mon Aug 17 00:00:00 2020
data2 = 17/08/20
--------------------------------
i = 22
item i = Mon Aug 24 00:00:00 2020
data2 = 24/08/20
--------------------------------
i = 23
item i = Mon Aug 31 00:00:00 2020
data2 = 31/08/20
--------------------------------
i = 24
item i = Mon Sep  7 00:00:00 2020
data2 = 07/09/20
--------------------------------
i = 25
item i = Mon Sep 14 00:00:00 2020
data2 = 14/09/20
--------------------------------
i = 26
item i = Mon Sep 21 00:00:00 2020
data2 = 21/09/20
--------------------------------
i = 27
item i = Mon Sep 28 00:00:00 2020
data2 = 28/09/20
--------------------------------
i = 28
item i = Mon Oct  5 00:00:00 2020
data2 = 05/10/20
--------------------------------
i = 29
item i = Mon Oct 12 00:00:00 2020
data2 = 12/10/20
--------------------------------
i = 30
item i = Mon Oct 19 00:00:00 2020
data2 = 19/10/20
--------------------------------
i = 31
item i = Mon Oct 26 00:00:00 2020
data2 = 26/10/20
--------------------------------
i = 32
item i = Mon Nov  2 00:00:00 2020
data2 = 02/11/20
--------------------------------
i = 33
item i = Mon Nov  9 00:00:00 2020
data2 = 09/11/20
--------------------------------
i = 34
item i = Mon Nov 16 00:00:00 2020
data2 = 16/11/20
--------------------------------
i = 35
item i = Mon Nov 23 00:00:00 2020
data2 = 23/11/20
--------------------------------
i = 36
item i = Mon Nov 30 00:00:00 2020
data2 = 30/11/20
--------------------------------
i = 37
item i = Mon Dec  7 00:00:00 2020
data2 = 07/12/20
--------------------------------
i = 38
item i = Mon Dec 14 00:00:00 2020
data2 = 14/12/20
--------------------------------
i = 39
item i = Mon Dec 21 00:00:00 2020
data2 = 21/12/20
--------------------------------
i = 40
item i = Mon Dec 28 00:00:00 2020
data2 = 28/12/20
--------------------------------

In [57]:
df_total['Data_Simp']=data2

In [58]:
display(df_total)

,Semana,Amarela,Branca,Indígena,Parda,Preta,Total,Semana_Num,Data,Data_Simp
0,SE_20 12,2.0,51.0,0.0,5.0,2.0,60.0,12,Mon Mar 23 00:00:00 2020,23/03/20
1,SE_20 13,14.0,280.0,1.0,47.0,19.0,361.0,13,Mon Mar 30 00:00:00 2020,30/03/20
2,SE_20 14,42.0,871.0,2.0,215.0,90.0,1220.0,14,Mon Apr 6 00:00:00 2020,06/04/20
3,SE_20 15,87.0,1899.0,5.0,554.0,225.0,2770.0,15,Mon Apr 13 00:00:00 2020,13/04/20
4,SE_20 16,151.0,3369.0,8.0,1080.0,415.0,5023.0,16,Mon Apr 20 00:00:00 2020,20/04/20
5,SE_20 17,243.0,5340.0,12.0,1813.0,683.0,8091.0,17,Mon Apr 27 00:00:00 2020,27/04/20
6,SE_20 18,359.0,7945.0,16.0,2829.0,1053.0,12202.0,18,Mon May 4 00:00:00 2020,04/05/20
7,SE_20 19,505.0,11165.0,22.0,4146.0,1509.0,17347.0,19,Mon May 11 00:00:00 2020,11/05/20
8,SE_20 20,669.0,15070.0,29.0,5761.0,2085.0,23614.0,20,Mon May 18 00:00:00 2020,18/05/20
9,SE_20 21,852.0,19643.0,37.0,7701.0,2746.0,30979.0,21,Mon May 25 00:00:00 2020,25/05/20
10,SE_20 22,1054.0,24903.0,45.0,9911.0,3514.0,39427.0,22,Mon Jun 1 00:00:00 2020,01/06/20
11,SE_20 23,1278.0,30817.0,54.0,12383.0,4399.0,48931.0,23,Mon Jun 8 00:00:00 2020,08/06/20
12,SE_20 24,1526.0,37389.0,64.0,15125.0,5396.0,59500.0,24,Mon Jun 15 00:00:00 2020,15/06/20
13,SE_20 25,1789.0,44516.0,75.0,18076.0,6489.0,70945.0,25,Mon Jun 22 00:00:00 2020,22/06/20
14,SE_20 26,2068.0,52129.0,86.0,21202.0,7659.0,83144.0,26,Mon Jun 29 00:00:00 2020,29/06/20
15,SE_20 27,2368.0,60167.0,97.0,24484.0,8904.0,96020.0,27,Mon Jul 6 00:00:00 2020,06/07/20
16,SE_20 28,2679.0,68644.0,108.0,27916.0,10208.0,109555.0,28,Mon Jul 13 00:00:00 2020,13/07/20
17,SE_20 29,3009.0,77562.0,120.0,31490.0,11581.0,123762.0,29,Mon Jul 20 00:00:00 2020,20/07/20
18,SE_20 30,3344.0,86887.0,132.0,35212.0,13016.0,138591.0,30,Mon Jul 27 00:00:00 2020,27/07/20
19,SE_20 31,3692.0,96566.0,144.0,39061.0,14493.0,153956.0,31,Mon Aug 3 00:00:00 2020,03/08/20
20,SE_20 32,4058.0,106623.0,156.0,43052.0,16011.0,169900.0,32,Mon Aug 10 00:00:00 2020,10/08/20
21,SE_20 33,4435.0,117010.0,168.0,47172.0,17580.0,186365.0,33,Mon Aug 17 00:00:00 2020,17/08/20
22,SE_20 34,4823.0,127679.0,180.0,51396.0,19192.0,203270.0,34,Mon Aug 24 00:00:00 2020,24/08/20
23,SE_20 35,5222.0,138648.0,192.0,55708.0,20831.0,220601.0,35,Mon Aug 31 00:00:00 2020,31/08/20
24,SE_20 36,5632.0,149855.0,204.0,60100.0,22505.0,238296.0,36,Mon Sep 7 00:00:00 2020,07/09/20
25,SE_20 37,6053.0,161301.0,217.0,64577.0,24210.0,256358.0,37,Mon Sep 14 00:00:00 2020,14/09/20
26,SE_20 38,6480.0,172958.0,230.0,69119.0,25949.0,274736.0,38,Mon Sep 21 00:00:00 2020,21/09/20
27,SE_20 39,6912.0,184779.0,244.0,73714.0,27715.0,293364.0,39,Mon Sep 28 00:00:00 2020,28/09/20
28,SE_20 40,7349.0,196776.0,258.0,78363.0,29504.0,312250.0,40,Mon Oct 5 00:00:00 2020,05/10/20
29,SE_20 41,7790.0,208911.0,272.0,83068.0,31312.0,331353.0,41,Mon Oct 12 00:00:00 2020,12/10/20
30,SE_20 42,8237.0,221152.0,286.0,87820.0,33140.0,350635.0,42,Mon Oct 19 00:00:00 2020,19/10/20
31,SE_20 43,8688.0,233485.0,300.0,92603.0,34986.0,370062.0,43,Mon Oct 26 00:00:00 2020,26/10/20
32,SE_20 44,9145.0,245923.0,314.0,97423.0,36841.0,389646.0,44,Mon Nov 2 00:00:00 2020,02/11/20
33,SE_20 45,9604.0,258466.0,329.0,102279.0,38710.0,409388.0,45,Mon Nov 9 00:00:00 2020,09/11/20
34,SE_20 46,10069.0,271146.0,344.0,107177.0,40595.0,429331.0,46,Mon Nov 16 00:00:00 2020,16/11/20
35,SE_20 47,10544.0,283985.0,359.0,112123.0,42496.0,449507.0,47,Mon Nov 23 00:00:00 2020,23/11/20
36,SE_20 48,11028.0,297016.0,374.0,117120.0,44427.0,469965.0,48,Mon Nov 30 00:00:00 2020,30/11/20
37,SE_20 49,11520.0,310275.0,389.0,122193.0,46385.0,490762.0,49,Mon Dec 7 00:00:00 2020,07/12/20
38,SE_20 50,12023.0,323796.0,405.0,127332.0,48383.0,511939.0,50,Mon Dec 14 00:00:00 2020,14/12/20
39,SE_20 51,12537.0,337618.0,421.0,132555.0,50420.0,533551.0,51,Mon Dec 21 00:00:00 2020,21/12/20
40,SE_20 52,13066.0,351724.0,437.0,137858.0,52501.0,555586.0,52,Mon Dec 28 00:00:00 2020,28/12/20

In [59]:
df_total.to_csv('cor-semana-pivot-tratado-total-dates-simp.csv')