In [1]:
import numpy as np #lib para cálculos e funções em arrays multidimensionais
import pandas as pd #pandas - lib para manipulação e análise de dados de alta performance
import time #lib para manipulação de datas
import datetime ##lib para manipulação de datas

In [2]:
#Carregando o dataset de população por idade por raça
mort_ml = pd.read_csv('mortalidade-cor-semana-tratado.csv', sep=',')

#Removendo a coluna de índice
mort_ml = mort_ml.iloc[: , 1:]

#Exibindo o dataset
print('\nTabela Pré-Tratada - Mortalidade Cor Semana')
display(mort_ml)

Tabela Pré-Tratada - Mortalidade Cor Semana

          Cor  Habitantes    Semana   Óbitos  Óbitos por 100 mil
0      Branca     6824668  SE_20 12     51.0            0.747289
1       Preta      736083  SE_20 12      2.0            0.271708
2     Amarela      246244  SE_20 12      2.0            0.812203
3       Parda     3433218  SE_20 12      5.0            0.145636
4    Indígena       12977  SE_20 12      0.0            0.000000
5      Branca     6824668  SE_20 13    229.0            3.355475
6       Preta      736083  SE_20 13     17.0            2.309522
7     Amarela      246244  SE_20 13     12.0            4.873215
8       Parda     3433218  SE_20 13     42.0            1.223342
9    Indígena       12977  SE_20 13      1.0            7.705941
10     Branca     6824668  SE_20 14    591.0            8.659762
11      Preta      736083  SE_20 14     71.0            9.645651
12    Amarela      246244  SE_20 14     28.0           11.370835
13      Parda     3433218  SE_20 14    168.0            4.893368
14   Indígena       12977  SE_20 14      1.0            7.705941
15     Branca     6824668  SE_20 15   1028.0           15.063004
16      Preta      736083  SE_20 15    135.0           18.340323
17    Amarela      246244  SE_20 15     45.0           18.274557
18      Parda     3433218  SE_20 15    339.0            9.874118
19   Indígena       12977  SE_20 15      3.0           23.117824
20     Branca     6824668  SE_20 16   1470.0           21.539509
21      Preta      736083  SE_20 16    190.0           25.812306
22    Amarela      246244  SE_20 16     64.0           25.990481
23      Parda     3433218  SE_20 16    526.0           15.320903
24   Indígena       12977  SE_20 16      3.0           23.117824
25     Branca     6824668  SE_20 17   1971.0           28.880526
26      Preta      736083  SE_20 17    268.0           36.408938
27    Amarela      246244  SE_20 17     92.0           37.361316
28      Parda     3433218  SE_20 17    733.0           21.350232
29   Indígena       12977  SE_20 17      4.0           30.823765
..        ...         ...       ...      ...                 ...
180    Branca     6824668  SE_20 48  13031.0          190.939691
181     Preta      736083  SE_20 48   1931.0          262.334547
182   Amarela      246244  SE_20 48    484.0          196.553012
183     Parda     3433218  SE_20 48   4997.0          145.548579
184  Indígena       12977  SE_20 48     15.0          115.589119
185    Branca     6824668  SE_20 49  13259.0          194.280513
186     Preta      736083  SE_20 49   1958.0          266.002611
187   Amarela      246244  SE_20 49    492.0          199.801823
188     Parda     3433218  SE_20 49   5073.0          147.762245
189  Indígena       12977  SE_20 49     15.0          115.589119
190    Branca     6824668  SE_20 50  13521.0          198.119528
191     Preta      736083  SE_20 50   1998.0          271.436781
192   Amarela      246244  SE_20 50    503.0          204.268937
193     Parda     3433218  SE_20 50   5139.0          149.684640
194  Indígena       12977  SE_20 50     16.0          123.295060
195    Branca     6824668  SE_20 51  13822.0          202.529999
196     Preta      736083  SE_20 51   2037.0          276.735096
197   Amarela      246244  SE_20 51    514.0          208.736050
198     Parda     3433218  SE_20 51   5223.0          152.131324
199  Indígena       12977  SE_20 51     16.0          123.295060
200    Branca     6824668  SE_20 52  14106.0          206.691373
201     Preta      736083  SE_20 52   2081.0          282.712683
202   Amarela      246244  SE_20 52    529.0          214.827569
203     Parda     3433218  SE_20 52   5303.0          154.461499
204  Indígena       12977  SE_20 52     16.0          123.295060
205    Branca     6824668  SE_20 53  14297.0          209.490044
206     Preta      736083  SE_20 53   2108.0          286.380748
207   Amarela      246244  SE_20 53    544.0          220.919088
208     Parda     3433218  SE_20 53   5367.0          156.325640
209  Indígena       12977  SE_20 53     16.0          123.295060

[210 rows x 5 columns]

In [3]:
#display(mort_ml.columns[3:-1])

mort_melt = mort_ml.melt(id_vars=['Semana','Cor'], value_vars = mort_ml.columns[3:-1],var_name='TIPO', value_name='ÓBITOS')

#cor_se_melt = cor_se_soma.melt(id_vars=['Cor', 'Habitantes'], value_vars = cor_se_norm.columns[1:-2],var_name='Semana', value_name='Óbitos')

display(mort_melt)

       Semana       Cor    TIPO   ÓBITOS
0    SE_20 12    Branca  Óbitos     51.0
1    SE_20 12     Preta  Óbitos      2.0
2    SE_20 12   Amarela  Óbitos      2.0
3    SE_20 12     Parda  Óbitos      5.0
4    SE_20 12  Indígena  Óbitos      0.0
5    SE_20 13    Branca  Óbitos    229.0
6    SE_20 13     Preta  Óbitos     17.0
7    SE_20 13   Amarela  Óbitos     12.0
8    SE_20 13     Parda  Óbitos     42.0
9    SE_20 13  Indígena  Óbitos      1.0
10   SE_20 14    Branca  Óbitos    591.0
11   SE_20 14     Preta  Óbitos     71.0
12   SE_20 14   Amarela  Óbitos     28.0
13   SE_20 14     Parda  Óbitos    168.0
14   SE_20 14  Indígena  Óbitos      1.0
15   SE_20 15    Branca  Óbitos   1028.0
16   SE_20 15     Preta  Óbitos    135.0
17   SE_20 15   Amarela  Óbitos     45.0
18   SE_20 15     Parda  Óbitos    339.0
19   SE_20 15  Indígena  Óbitos      3.0
20   SE_20 16    Branca  Óbitos   1470.0
21   SE_20 16     Preta  Óbitos    190.0
22   SE_20 16   Amarela  Óbitos     64.0
23   SE_20 16     Parda  Óbitos    526.0
24   SE_20 16  Indígena  Óbitos      3.0
25   SE_20 17    Branca  Óbitos   1971.0
26   SE_20 17     Preta  Óbitos    268.0
27   SE_20 17   Amarela  Óbitos     92.0
28   SE_20 17     Parda  Óbitos    733.0
29   SE_20 17  Indígena  Óbitos      4.0
..        ...       ...     ...      ...
180  SE_20 48    Branca  Óbitos  13031.0
181  SE_20 48     Preta  Óbitos   1931.0
182  SE_20 48   Amarela  Óbitos    484.0
183  SE_20 48     Parda  Óbitos   4997.0
184  SE_20 48  Indígena  Óbitos     15.0
185  SE_20 49    Branca  Óbitos  13259.0
186  SE_20 49     Preta  Óbitos   1958.0
187  SE_20 49   Amarela  Óbitos    492.0
188  SE_20 49     Parda  Óbitos   5073.0
189  SE_20 49  Indígena  Óbitos     15.0
190  SE_20 50    Branca  Óbitos  13521.0
191  SE_20 50     Preta  Óbitos   1998.0
192  SE_20 50   Amarela  Óbitos    503.0
193  SE_20 50     Parda  Óbitos   5139.0
194  SE_20 50  Indígena  Óbitos     16.0
195  SE_20 51    Branca  Óbitos  13822.0
196  SE_20 51     Preta  Óbitos   2037.0
197  SE_20 51   Amarela  Óbitos    514.0
198  SE_20 51     Parda  Óbitos   5223.0
199  SE_20 51  Indígena  Óbitos     16.0
200  SE_20 52    Branca  Óbitos  14106.0
201  SE_20 52     Preta  Óbitos   2081.0
202  SE_20 52   Amarela  Óbitos    529.0
203  SE_20 52     Parda  Óbitos   5303.0
204  SE_20 52  Indígena  Óbitos     16.0
205  SE_20 53    Branca  Óbitos  14297.0
206  SE_20 53     Preta  Óbitos   2108.0
207  SE_20 53   Amarela  Óbitos    544.0
208  SE_20 53     Parda  Óbitos   5367.0
209  SE_20 53  Indígena  Óbitos     16.0

[210 rows x 4 columns]

In [4]:
#mort_melt["Mortes"] = mort_melt["Cor"] +" - "+mort_melt["VARNAME"]

#Removendo coluna TIPO
mort_melt.drop('TIPO', 1, inplace=True)

display(mort_melt)

       Semana       Cor   ÓBITOS
0    SE_20 12    Branca     51.0
1    SE_20 12     Preta      2.0
2    SE_20 12   Amarela      2.0
3    SE_20 12     Parda      5.0
4    SE_20 12  Indígena      0.0
5    SE_20 13    Branca    229.0
6    SE_20 13     Preta     17.0
7    SE_20 13   Amarela     12.0
8    SE_20 13     Parda     42.0
9    SE_20 13  Indígena      1.0
10   SE_20 14    Branca    591.0
11   SE_20 14     Preta     71.0
12   SE_20 14   Amarela     28.0
13   SE_20 14     Parda    168.0
14   SE_20 14  Indígena      1.0
15   SE_20 15    Branca   1028.0
16   SE_20 15     Preta    135.0
17   SE_20 15   Amarela     45.0
18   SE_20 15     Parda    339.0
19   SE_20 15  Indígena      3.0
20   SE_20 16    Branca   1470.0
21   SE_20 16     Preta    190.0
22   SE_20 16   Amarela     64.0
23   SE_20 16     Parda    526.0
24   SE_20 16  Indígena      3.0
25   SE_20 17    Branca   1971.0
26   SE_20 17     Preta    268.0
27   SE_20 17   Amarela     92.0
28   SE_20 17     Parda    733.0
29   SE_20 17  Indígena      4.0
..        ...       ...      ...
180  SE_20 48    Branca  13031.0
181  SE_20 48     Preta   1931.0
182  SE_20 48   Amarela    484.0
183  SE_20 48     Parda   4997.0
184  SE_20 48  Indígena     15.0
185  SE_20 49    Branca  13259.0
186  SE_20 49     Preta   1958.0
187  SE_20 49   Amarela    492.0
188  SE_20 49     Parda   5073.0
189  SE_20 49  Indígena     15.0
190  SE_20 50    Branca  13521.0
191  SE_20 50     Preta   1998.0
192  SE_20 50   Amarela    503.0
193  SE_20 50     Parda   5139.0
194  SE_20 50  Indígena     16.0
195  SE_20 51    Branca  13822.0
196  SE_20 51     Preta   2037.0
197  SE_20 51   Amarela    514.0
198  SE_20 51     Parda   5223.0
199  SE_20 51  Indígena     16.0
200  SE_20 52    Branca  14106.0
201  SE_20 52     Preta   2081.0
202  SE_20 52   Amarela    529.0
203  SE_20 52     Parda   5303.0
204  SE_20 52  Indígena     16.0
205  SE_20 53    Branca  14297.0
206  SE_20 53     Preta   2108.0
207  SE_20 53   Amarela    544.0
208  SE_20 53     Parda   5367.0
209  SE_20 53  Indígena     16.0

[210 rows x 3 columns]

In [5]:
#pivotando semanas
mort_pivot = mort_melt.pivot_table('ÓBITOS', ['Semana'], 'Cor')
#mort_pivot = mort_melt.pivot_table('ÓBITOS', 'Cor','Semana')

display(mort_pivot)

Cor       Amarela   Branca  Indígena   Parda   Preta
Semana
SE_20 12      2.0     51.0       0.0     5.0     2.0
SE_20 13     12.0    229.0       1.0    42.0    17.0
SE_20 14     28.0    591.0       1.0   168.0    71.0
SE_20 15     45.0   1028.0       3.0   339.0   135.0
SE_20 16     64.0   1470.0       3.0   526.0   190.0
SE_20 17     92.0   1971.0       4.0   733.0   268.0
SE_20 18    116.0   2605.0       4.0  1016.0   370.0
SE_20 19    146.0   3220.0       6.0  1317.0   456.0
SE_20 20    164.0   3905.0       7.0  1615.0   576.0
SE_20 21    183.0   4573.0       8.0  1940.0   661.0
SE_20 22    202.0   5260.0       8.0  2210.0   768.0
SE_20 23    224.0   5914.0       9.0  2472.0   885.0
SE_20 24    248.0   6572.0      10.0  2742.0   997.0
SE_20 25    263.0   7127.0      11.0  2951.0  1093.0
SE_20 26    279.0   7613.0      11.0  3126.0  1170.0
SE_20 27    300.0   8038.0      11.0  3282.0  1245.0
SE_20 28    311.0   8477.0      11.0  3432.0  1304.0
SE_20 29    330.0   8918.0      12.0  3574.0  1373.0
SE_20 30    335.0   9325.0      12.0  3722.0  1435.0
SE_20 31    348.0   9679.0      12.0  3849.0  1477.0
SE_20 32    366.0  10057.0      12.0  3991.0  1518.0
SE_20 33    377.0  10387.0      12.0  4120.0  1569.0
SE_20 34    388.0  10669.0      12.0  4224.0  1612.0
SE_20 35    399.0  10969.0      12.0  4312.0  1639.0
SE_20 36    410.0  11207.0      12.0  4392.0  1674.0
SE_20 37    421.0  11446.0      13.0  4477.0  1705.0
SE_20 38    427.0  11657.0      13.0  4542.0  1739.0
SE_20 39    432.0  11821.0      14.0  4595.0  1766.0
SE_20 40    437.0  11997.0      14.0  4649.0  1789.0
SE_20 41    441.0  12135.0      14.0  4705.0  1808.0
SE_20 42    447.0  12241.0      14.0  4752.0  1828.0
SE_20 43    451.0  12333.0      14.0  4783.0  1846.0
SE_20 44    457.0  12438.0      14.0  4820.0  1855.0
SE_20 45    459.0  12543.0      15.0  4856.0  1869.0
SE_20 46    465.0  12680.0      15.0  4898.0  1885.0
SE_20 47    475.0  12839.0      15.0  4946.0  1901.0
SE_20 48    484.0  13031.0      15.0  4997.0  1931.0
SE_20 49    492.0  13259.0      15.0  5073.0  1958.0
SE_20 50    503.0  13521.0      16.0  5139.0  1998.0
SE_20 51    514.0  13822.0      16.0  5223.0  2037.0
SE_20 52    529.0  14106.0      16.0  5303.0  2081.0
SE_20 53    544.0  14297.0      16.0  5367.0  2108.0

### Salvando Dataset

In [6]:
#Salvando Dataset em Arquivo
mort_pivot.to_csv('cor-semana-pivot-tratado.csv')

In [7]:
#Adicionando coluna TOTAL de Mortes
mort_pivot['Total'] = mort_pivot['Amarela']+mort_pivot['Branca']+mort_pivot['Indígena']+mort_pivot['Parda']+mort_pivot['Preta']

In [8]:
mort_pivot.head()

Cor       Amarela  Branca  Indígena  Parda  Preta   Total
Semana
SE_20 12      2.0    51.0       0.0    5.0    2.0    60.0
SE_20 13     12.0   229.0       1.0   42.0   17.0   301.0
SE_20 14     28.0   591.0       1.0  168.0   71.0   859.0
SE_20 15     45.0  1028.0       3.0  339.0  135.0  1550.0
SE_20 16     64.0  1470.0       3.0  526.0  190.0  2253.0

In [9]:
#Salvando Arquivo com o número de mortes
mort_pivot.to_csv('cor-semana-pivot-tratado-total.csv')

In [10]:
df_total = pd.read_csv('cor-semana-pivot-tratado-total.csv', sep=',')
#df_total = mort_pivot

df_total.head()

     Semana  Amarela  Branca  Indígena  Parda  Preta   Total
0  SE_20 12      2.0    51.0       0.0    5.0    2.0    60.0
1  SE_20 13     12.0   229.0       1.0   42.0   17.0   301.0
2  SE_20 14     28.0   591.0       1.0  168.0   71.0   859.0
3  SE_20 15     45.0  1028.0       3.0  339.0  135.0  1550.0
4  SE_20 16     64.0  1470.0       3.0  526.0  190.0  2253.0

In [11]:
#Renomeando item para manter o padrão
df_total["Semana"].replace({"SE_20 11_1ºÓbito Covid19": "SE_20"}, inplace=True)

In [12]:
print(df_total)

      Semana  Amarela   Branca  Indígena   Parda   Preta    Total
0   SE_20 12      2.0     51.0       0.0     5.0     2.0     60.0
1   SE_20 13     12.0    229.0       1.0    42.0    17.0    301.0
2   SE_20 14     28.0    591.0       1.0   168.0    71.0    859.0
3   SE_20 15     45.0   1028.0       3.0   339.0   135.0   1550.0
4   SE_20 16     64.0   1470.0       3.0   526.0   190.0   2253.0
5   SE_20 17     92.0   1971.0       4.0   733.0   268.0   3068.0
6   SE_20 18    116.0   2605.0       4.0  1016.0   370.0   4111.0
7   SE_20 19    146.0   3220.0       6.0  1317.0   456.0   5145.0
8   SE_20 20    164.0   3905.0       7.0  1615.0   576.0   6267.0
9   SE_20 21    183.0   4573.0       8.0  1940.0   661.0   7365.0
10  SE_20 22    202.0   5260.0       8.0  2210.0   768.0   8448.0
11  SE_20 23    224.0   5914.0       9.0  2472.0   885.0   9504.0
12  SE_20 24    248.0   6572.0      10.0  2742.0   997.0  10569.0
13  SE_20 25    263.0   7127.0      11.0  2951.0  1093.0  11445.0
14  SE_20 26    279.0   7613.0      11.0  3126.0  1170.0  12199.0
15  SE_20 27    300.0   8038.0      11.0  3282.0  1245.0  12876.0
16  SE_20 28    311.0   8477.0      11.0  3432.0  1304.0  13535.0
17  SE_20 29    330.0   8918.0      12.0  3574.0  1373.0  14207.0
18  SE_20 30    335.0   9325.0      12.0  3722.0  1435.0  14829.0
19  SE_20 31    348.0   9679.0      12.0  3849.0  1477.0  15365.0
20  SE_20 32    366.0  10057.0      12.0  3991.0  1518.0  15944.0
21  SE_20 33    377.0  10387.0      12.0  4120.0  1569.0  16465.0
22  SE_20 34    388.0  10669.0      12.0  4224.0  1612.0  16905.0
23  SE_20 35    399.0  10969.0      12.0  4312.0  1639.0  17331.0
24  SE_20 36    410.0  11207.0      12.0  4392.0  1674.0  17695.0
25  SE_20 37    421.0  11446.0      13.0  4477.0  1705.0  18062.0
26  SE_20 38    427.0  11657.0      13.0  4542.0  1739.0  18378.0
27  SE_20 39    432.0  11821.0      14.0  4595.0  1766.0  18628.0
28  SE_20 40    437.0  11997.0      14.0  4649.0  1789.0  18886.0
29  SE_20 41    441.0  12135.0      14.0  4705.0  1808.0  19103.0
30  SE_20 42    447.0  12241.0      14.0  4752.0  1828.0  19282.0
31  SE_20 43    451.0  12333.0      14.0  4783.0  1846.0  19427.0
32  SE_20 44    457.0  12438.0      14.0  4820.0  1855.0  19584.0
33  SE_20 45    459.0  12543.0      15.0  4856.0  1869.0  19742.0
34  SE_20 46    465.0  12680.0      15.0  4898.0  1885.0  19943.0
35  SE_20 47    475.0  12839.0      15.0  4946.0  1901.0  20176.0
36  SE_20 48    484.0  13031.0      15.0  4997.0  1931.0  20458.0
37  SE_20 49    492.0  13259.0      15.0  5073.0  1958.0  20797.0
38  SE_20 50    503.0  13521.0      16.0  5139.0  1998.0  21177.0
39  SE_20 51    514.0  13822.0      16.0  5223.0  2037.0  21612.0
40  SE_20 52    529.0  14106.0      16.0  5303.0  2081.0  22035.0
41  SE_20 53    544.0  14297.0      16.0  5367.0  2108.0  22332.0

In [13]:
#criando coluna apenas com o número da semana (em relação ao ano de 2020)
df_total['Semana_Num']=df_total['Semana'].str.slice(6,8)

In [14]:
display(df_total)

      Semana  Amarela   Branca  Indígena   Parda   Preta    Total Semana_Num
0   SE_20 12      2.0     51.0       0.0     5.0     2.0     60.0         12
1   SE_20 13     12.0    229.0       1.0    42.0    17.0    301.0         13
2   SE_20 14     28.0    591.0       1.0   168.0    71.0    859.0         14
3   SE_20 15     45.0   1028.0       3.0   339.0   135.0   1550.0         15
4   SE_20 16     64.0   1470.0       3.0   526.0   190.0   2253.0         16
5   SE_20 17     92.0   1971.0       4.0   733.0   268.0   3068.0         17
6   SE_20 18    116.0   2605.0       4.0  1016.0   370.0   4111.0         18
7   SE_20 19    146.0   3220.0       6.0  1317.0   456.0   5145.0         19
8   SE_20 20    164.0   3905.0       7.0  1615.0   576.0   6267.0         20
9   SE_20 21    183.0   4573.0       8.0  1940.0   661.0   7365.0         21
10  SE_20 22    202.0   5260.0       8.0  2210.0   768.0   8448.0         22
11  SE_20 23    224.0   5914.0       9.0  2472.0   885.0   9504.0         23
12  SE_20 24    248.0   6572.0      10.0  2742.0   997.0  10569.0         24
13  SE_20 25    263.0   7127.0      11.0  2951.0  1093.0  11445.0         25
14  SE_20 26    279.0   7613.0      11.0  3126.0  1170.0  12199.0         26
15  SE_20 27    300.0   8038.0      11.0  3282.0  1245.0  12876.0         27
16  SE_20 28    311.0   8477.0      11.0  3432.0  1304.0  13535.0         28
17  SE_20 29    330.0   8918.0      12.0  3574.0  1373.0  14207.0         29
18  SE_20 30    335.0   9325.0      12.0  3722.0  1435.0  14829.0         30
19  SE_20 31    348.0   9679.0      12.0  3849.0  1477.0  15365.0         31
20  SE_20 32    366.0  10057.0      12.0  3991.0  1518.0  15944.0         32
21  SE_20 33    377.0  10387.0      12.0  4120.0  1569.0  16465.0         33
22  SE_20 34    388.0  10669.0      12.0  4224.0  1612.0  16905.0         34
23  SE_20 35    399.0  10969.0      12.0  4312.0  1639.0  17331.0         35
24  SE_20 36    410.0  11207.0      12.0  4392.0  1674.0  17695.0         36
25  SE_20 37    421.0  11446.0      13.0  4477.0  1705.0  18062.0         37
26  SE_20 38    427.0  11657.0      13.0  4542.0  1739.0  18378.0         38
27  SE_20 39    432.0  11821.0      14.0  4595.0  1766.0  18628.0         39
28  SE_20 40    437.0  11997.0      14.0  4649.0  1789.0  18886.0         40
29  SE_20 41    441.0  12135.0      14.0  4705.0  1808.0  19103.0         41
30  SE_20 42    447.0  12241.0      14.0  4752.0  1828.0  19282.0         42
31  SE_20 43    451.0  12333.0      14.0  4783.0  1846.0  19427.0         43
32  SE_20 44    457.0  12438.0      14.0  4820.0  1855.0  19584.0         44
33  SE_20 45    459.0  12543.0      15.0  4856.0  1869.0  19742.0         45
34  SE_20 46    465.0  12680.0      15.0  4898.0  1885.0  19943.0         46
35  SE_20 47    475.0  12839.0      15.0  4946.0  1901.0  20176.0         47
36  SE_20 48    484.0  13031.0      15.0  4997.0  1931.0  20458.0         48
37  SE_20 49    492.0  13259.0      15.0  5073.0  1958.0  20797.0         49
38  SE_20 50    503.0  13521.0      16.0  5139.0  1998.0  21177.0         50
39  SE_20 51    514.0  13822.0      16.0  5223.0  2037.0  21612.0         51
40  SE_20 52    529.0  14106.0      16.0  5303.0  2081.0  22035.0         52
41  SE_20 53    544.0  14297.0      16.0  5367.0  2108.0  22332.0         53

In [15]:
#removendo a última semana pois ela pega também o ano de 2021
df_total.drop(index=df_total.index[-1], 
        axis=0, 
        inplace=True)
display(df_total)

      Semana  Amarela   Branca  Indígena   Parda   Preta    Total Semana_Num
0   SE_20 12      2.0     51.0       0.0     5.0     2.0     60.0         12
1   SE_20 13     12.0    229.0       1.0    42.0    17.0    301.0         13
2   SE_20 14     28.0    591.0       1.0   168.0    71.0    859.0         14
3   SE_20 15     45.0   1028.0       3.0   339.0   135.0   1550.0         15
4   SE_20 16     64.0   1470.0       3.0   526.0   190.0   2253.0         16
5   SE_20 17     92.0   1971.0       4.0   733.0   268.0   3068.0         17
6   SE_20 18    116.0   2605.0       4.0  1016.0   370.0   4111.0         18
7   SE_20 19    146.0   3220.0       6.0  1317.0   456.0   5145.0         19
8   SE_20 20    164.0   3905.0       7.0  1615.0   576.0   6267.0         20
9   SE_20 21    183.0   4573.0       8.0  1940.0   661.0   7365.0         21
10  SE_20 22    202.0   5260.0       8.0  2210.0   768.0   8448.0         22
11  SE_20 23    224.0   5914.0       9.0  2472.0   885.0   9504.0         23
12  SE_20 24    248.0   6572.0      10.0  2742.0   997.0  10569.0         24
13  SE_20 25    263.0   7127.0      11.0  2951.0  1093.0  11445.0         25
14  SE_20 26    279.0   7613.0      11.0  3126.0  1170.0  12199.0         26
15  SE_20 27    300.0   8038.0      11.0  3282.0  1245.0  12876.0         27
16  SE_20 28    311.0   8477.0      11.0  3432.0  1304.0  13535.0         28
17  SE_20 29    330.0   8918.0      12.0  3574.0  1373.0  14207.0         29
18  SE_20 30    335.0   9325.0      12.0  3722.0  1435.0  14829.0         30
19  SE_20 31    348.0   9679.0      12.0  3849.0  1477.0  15365.0         31
20  SE_20 32    366.0  10057.0      12.0  3991.0  1518.0  15944.0         32
21  SE_20 33    377.0  10387.0      12.0  4120.0  1569.0  16465.0         33
22  SE_20 34    388.0  10669.0      12.0  4224.0  1612.0  16905.0         34
23  SE_20 35    399.0  10969.0      12.0  4312.0  1639.0  17331.0         35
24  SE_20 36    410.0  11207.0      12.0  4392.0  1674.0  17695.0         36
25  SE_20 37    421.0  11446.0      13.0  4477.0  1705.0  18062.0         37
26  SE_20 38    427.0  11657.0      13.0  4542.0  1739.0  18378.0         38
27  SE_20 39    432.0  11821.0      14.0  4595.0  1766.0  18628.0         39
28  SE_20 40    437.0  11997.0      14.0  4649.0  1789.0  18886.0         40
29  SE_20 41    441.0  12135.0      14.0  4705.0  1808.0  19103.0         41
30  SE_20 42    447.0  12241.0      14.0  4752.0  1828.0  19282.0         42
31  SE_20 43    451.0  12333.0      14.0  4783.0  1846.0  19427.0         43
32  SE_20 44    457.0  12438.0      14.0  4820.0  1855.0  19584.0         44
33  SE_20 45    459.0  12543.0      15.0  4856.0  1869.0  19742.0         45
34  SE_20 46    465.0  12680.0      15.0  4898.0  1885.0  19943.0         46
35  SE_20 47    475.0  12839.0      15.0  4946.0  1901.0  20176.0         47
36  SE_20 48    484.0  13031.0      15.0  4997.0  1931.0  20458.0         48
37  SE_20 49    492.0  13259.0      15.0  5073.0  1958.0  20797.0         49
38  SE_20 50    503.0  13521.0      16.0  5139.0  1998.0  21177.0         50
39  SE_20 51    514.0  13822.0      16.0  5223.0  2037.0  21612.0         51
40  SE_20 52    529.0  14106.0      16.0  5303.0  2081.0  22035.0         52

In [16]:
#Trabalhando com o número da semana
data = df_total["Semana_Num"].to_numpy().astype(int)
print(data)

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52]

In [17]:
#Criando um vetor temporário para armazenar a data correspondente
data2 = [None]*41
#data2 = []

i=0

#percorrendo o vetor de datas do ano e convertendo pra datas normais do ano de 2020 (salvando em outro vetor)
for item in data:
    print("i = "+str(i))
    print("item = "+str(item))
    data2[i]=(time.asctime(time.strptime('{} {} 1'.format(2020, item), '%Y %W %w')))
    print("data = "+data2[i])
    i=i+1
    print("-----------------")

i = 0
item = 12
data = Mon Mar 23 00:00:00 2020
-----------------
i = 1
item = 13
data = Mon Mar 30 00:00:00 2020
-----------------
i = 2
item = 14
data = Mon Apr  6 00:00:00 2020
-----------------
i = 3
item = 15
data = Mon Apr 13 00:00:00 2020
-----------------
i = 4
item = 16
data = Mon Apr 20 00:00:00 2020
-----------------
i = 5
item = 17
data = Mon Apr 27 00:00:00 2020
-----------------
i = 6
item = 18
data = Mon May  4 00:00:00 2020
-----------------
i = 7
item = 19
data = Mon May 11 00:00:00 2020
-----------------
i = 8
item = 20
data = Mon May 18 00:00:00 2020
-----------------
i = 9
item = 21
data = Mon May 25 00:00:00 2020
-----------------
i = 10
item = 22
data = Mon Jun  1 00:00:00 2020
-----------------
i = 11
item = 23
data = Mon Jun  8 00:00:00 2020
-----------------
i = 12
item = 24
data = Mon Jun 15 00:00:00 2020
-----------------
i = 13
item = 25
data = Mon Jun 22 00:00:00 2020
-----------------
i = 14
item = 26
data = Mon Jun 29 00:00:00 2020
-----------------
i = 15
item = 27
data = Mon Jul  6 00:00:00 2020
-----------------
i = 16
item = 28
data = Mon Jul 13 00:00:00 2020
-----------------
i = 17
item = 29
data = Mon Jul 20 00:00:00 2020
-----------------
i = 18
item = 30
data = Mon Jul 27 00:00:00 2020
-----------------
i = 19
item = 31
data = Mon Aug  3 00:00:00 2020
-----------------
i = 20
item = 32
data = Mon Aug 10 00:00:00 2020
-----------------
i = 21
item = 33
data = Mon Aug 17 00:00:00 2020
-----------------
i = 22
item = 34
data = Mon Aug 24 00:00:00 2020
-----------------
i = 23
item = 35
data = Mon Aug 31 00:00:00 2020
-----------------
i = 24
item = 36
data = Mon Sep  7 00:00:00 2020
-----------------
i = 25
item = 37
data = Mon Sep 14 00:00:00 2020
-----------------
i = 26
item = 38
data = Mon Sep 21 00:00:00 2020
-----------------
i = 27
item = 39
data = Mon Sep 28 00:00:00 2020
-----------------
i = 28
item = 40
data = Mon Oct  5 00:00:00 2020
-----------------
i = 29
item = 41
data = Mon Oct 12 00:00:00 2020
-----------------
i = 30
item = 42
data = Mon Oct 19 00:00:00 2020
-----------------
i = 31
item = 43
data = Mon Oct 26 00:00:00 2020
-----------------
i = 32
item = 44
data = Mon Nov  2 00:00:00 2020
-----------------
i = 33
item = 45
data = Mon Nov  9 00:00:00 2020
-----------------
i = 34
item = 46
data = Mon Nov 16 00:00:00 2020
-----------------
i = 35
item = 47
data = Mon Nov 23 00:00:00 2020
-----------------
i = 36
item = 48
data = Mon Nov 30 00:00:00 2020
-----------------
i = 37
item = 49
data = Mon Dec  7 00:00:00 2020
-----------------
i = 38
item = 50
data = Mon Dec 14 00:00:00 2020
-----------------
i = 39
item = 51
data = Mon Dec 21 00:00:00 2020
-----------------
i = 40
item = 52
data = Mon Dec 28 00:00:00 2020
-----------------

In [18]:
#Vetor de datas finalizado
display(data2)

['Mon Mar 23 00:00:00 2020',
 'Mon Mar 30 00:00:00 2020',
 'Mon Apr  6 00:00:00 2020',
 'Mon Apr 13 00:00:00 2020',
 'Mon Apr 20 00:00:00 2020',
 'Mon Apr 27 00:00:00 2020',
 'Mon May  4 00:00:00 2020',
 'Mon May 11 00:00:00 2020',
 'Mon May 18 00:00:00 2020',
 'Mon May 25 00:00:00 2020',
 'Mon Jun  1 00:00:00 2020',
 'Mon Jun  8 00:00:00 2020',
 'Mon Jun 15 00:00:00 2020',
 'Mon Jun 22 00:00:00 2020',
 'Mon Jun 29 00:00:00 2020',
 'Mon Jul  6 00:00:00 2020',
 'Mon Jul 13 00:00:00 2020',
 'Mon Jul 20 00:00:00 2020',
 'Mon Jul 27 00:00:00 2020',
 'Mon Aug  3 00:00:00 2020',
 'Mon Aug 10 00:00:00 2020',
 'Mon Aug 17 00:00:00 2020',
 'Mon Aug 24 00:00:00 2020',
 'Mon Aug 31 00:00:00 2020',
 'Mon Sep  7 00:00:00 2020',
 'Mon Sep 14 00:00:00 2020',
 'Mon Sep 21 00:00:00 2020',
 'Mon Sep 28 00:00:00 2020',
 'Mon Oct  5 00:00:00 2020',
 'Mon Oct 12 00:00:00 2020',
 'Mon Oct 19 00:00:00 2020',
 'Mon Oct 26 00:00:00 2020',
 'Mon Nov  2 00:00:00 2020',
 'Mon Nov  9 00:00:00 2020',
 'Mon Nov 16 00:00:00 2020',
 'Mon Nov 23 00:00:00 2020',
 'Mon Nov 30 00:00:00 2020',
 'Mon Dec  7 00:00:00 2020',
 'Mon Dec 14 00:00:00 2020',
 'Mon Dec 21 00:00:00 2020',
 'Mon Dec 28 00:00:00 2020']

In [19]:
#Adicionando as datas no formato comum ao Dataset
df_total['Data']=data2

In [20]:
display(df_total)

,Semana,Amarela,Branca,Indígena,Parda,Preta,Total,Semana_Num,Data
0,SE_20 12,2.0,51.0,0.0,5.0,2.0,60.0,12,Mon Mar 23 00:00:00 2020
1,SE_20 13,12.0,229.0,1.0,42.0,17.0,301.0,13,Mon Mar 30 00:00:00 2020
2,SE_20 14,28.0,591.0,1.0,168.0,71.0,859.0,14,Mon Apr 6 00:00:00 2020
3,SE_20 15,45.0,1028.0,3.0,339.0,135.0,1550.0,15,Mon Apr 13 00:00:00 2020
4,SE_20 16,64.0,1470.0,3.0,526.0,190.0,2253.0,16,Mon Apr 20 00:00:00 2020
5,SE_20 17,92.0,1971.0,4.0,733.0,268.0,3068.0,17,Mon Apr 27 00:00:00 2020
6,SE_20 18,116.0,2605.0,4.0,1016.0,370.0,4111.0,18,Mon May 4 00:00:00 2020
7,SE_20 19,146.0,3220.0,6.0,1317.0,456.0,5145.0,19,Mon May 11 00:00:00 2020
8,SE_20 20,164.0,3905.0,7.0,1615.0,576.0,6267.0,20,Mon May 18 00:00:00 2020
9,SE_20 21,183.0,4573.0,8.0,1940.0,661.0,7365.0,21,Mon May 25 00:00:00 2020
10,SE_20 22,202.0,5260.0,8.0,2210.0,768.0,8448.0,22,Mon Jun 1 00:00:00 2020
11,SE_20 23,224.0,5914.0,9.0,2472.0,885.0,9504.0,23,Mon Jun 8 00:00:00 2020
12,SE_20 24,248.0,6572.0,10.0,2742.0,997.0,10569.0,24,Mon Jun 15 00:00:00 2020
13,SE_20 25,263.0,7127.0,11.0,2951.0,1093.0,11445.0,25,Mon Jun 22 00:00:00 2020
14,SE_20 26,279.0,7613.0,11.0,3126.0,1170.0,12199.0,26,Mon Jun 29 00:00:00 2020
15,SE_20 27,300.0,8038.0,11.0,3282.0,1245.0,12876.0,27,Mon Jul 6 00:00:00 2020
16,SE_20 28,311.0,8477.0,11.0,3432.0,1304.0,13535.0,28,Mon Jul 13 00:00:00 2020
17,SE_20 29,330.0,8918.0,12.0,3574.0,1373.0,14207.0,29,Mon Jul 20 00:00:00 2020
18,SE_20 30,335.0,9325.0,12.0,3722.0,1435.0,14829.0,30,Mon Jul 27 00:00:00 2020
19,SE_20 31,348.0,9679.0,12.0,3849.0,1477.0,15365.0,31,Mon Aug 3 00:00:00 2020
20,SE_20 32,366.0,10057.0,12.0,3991.0,1518.0,15944.0,32,Mon Aug 10 00:00:00 2020
21,SE_20 33,377.0,10387.0,12.0,4120.0,1569.0,16465.0,33,Mon Aug 17 00:00:00 2020
22,SE_20 34,388.0,10669.0,12.0,4224.0,1612.0,16905.0,34,Mon Aug 24 00:00:00 2020
23,SE_20 35,399.0,10969.0,12.0,4312.0,1639.0,17331.0,35,Mon Aug 31 00:00:00 2020
24,SE_20 36,410.0,11207.0,12.0,4392.0,1674.0,17695.0,36,Mon Sep 7 00:00:00 2020
25,SE_20 37,421.0,11446.0,13.0,4477.0,1705.0,18062.0,37,Mon Sep 14 00:00:00 2020
26,SE_20 38,427.0,11657.0,13.0,4542.0,1739.0,18378.0,38,Mon Sep 21 00:00:00 2020
27,SE_20 39,432.0,11821.0,14.0,4595.0,1766.0,18628.0,39,Mon Sep 28 00:00:00 2020
28,SE_20 40,437.0,11997.0,14.0,4649.0,1789.0,18886.0,40,Mon Oct 5 00:00:00 2020
29,SE_20 41,441.0,12135.0,14.0,4705.0,1808.0,19103.0,41,Mon Oct 12 00:00:00 2020
30,SE_20 42,447.0,12241.0,14.0,4752.0,1828.0,19282.0,42,Mon Oct 19 00:00:00 2020
31,SE_20 43,451.0,12333.0,14.0,4783.0,1846.0,19427.0,43,Mon Oct 26 00:00:00 2020
32,SE_20 44,457.0,12438.0,14.0,4820.0,1855.0,19584.0,44,Mon Nov 2 00:00:00 2020
33,SE_20 45,459.0,12543.0,15.0,4856.0,1869.0,19742.0,45,Mon Nov 9 00:00:00 2020
34,SE_20 46,465.0,12680.0,15.0,4898.0,1885.0,19943.0,46,Mon Nov 16 00:00:00 2020
35,SE_20 47,475.0,12839.0,15.0,4946.0,1901.0,20176.0,47,Mon Nov 23 00:00:00 2020
36,SE_20 48,484.0,13031.0,15.0,4997.0,1931.0,20458.0,48,Mon Nov 30 00:00:00 2020
37,SE_20 49,492.0,13259.0,15.0,5073.0,1958.0,20797.0,49,Mon Dec 7 00:00:00 2020
38,SE_20 50,503.0,13521.0,16.0,5139.0,1998.0,21177.0,50,Mon Dec 14 00:00:00 2020
39,SE_20 51,514.0,13822.0,16.0,5223.0,2037.0,21612.0,51,Mon Dec 21 00:00:00 2020
40,SE_20 52,529.0,14106.0,16.0,5303.0,2081.0,22035.0,52,Mon Dec 28 00:00:00 2020

In [21]:
#Salvando dataset em arquivo
df_total.to_csv('cor-semana-pivot-tratado-total-dates.csv')

## Simplificando os formatos de datas para trabalhar melhor com TimeSeries nos motores de IA

In [27]:
# Usando vetores de apoio
data = df_total["Data"]
print(data)

data2 = [None]*41
i=0

0     Mon Mar 23 00:00:00 2020
1     Mon Mar 30 00:00:00 2020
2     Mon Apr  6 00:00:00 2020
3     Mon Apr 13 00:00:00 2020
4     Mon Apr 20 00:00:00 2020
5     Mon Apr 27 00:00:00 2020
6     Mon May  4 00:00:00 2020
7     Mon May 11 00:00:00 2020
8     Mon May 18 00:00:00 2020
9     Mon May 25 00:00:00 2020
10    Mon Jun  1 00:00:00 2020
11    Mon Jun  8 00:00:00 2020
12    Mon Jun 15 00:00:00 2020
13    Mon Jun 22 00:00:00 2020
14    Mon Jun 29 00:00:00 2020
15    Mon Jul  6 00:00:00 2020
16    Mon Jul 13 00:00:00 2020
17    Mon Jul 20 00:00:00 2020
18    Mon Jul 27 00:00:00 2020
19    Mon Aug  3 00:00:00 2020
20    Mon Aug 10 00:00:00 2020
21    Mon Aug 17 00:00:00 2020
22    Mon Aug 24 00:00:00 2020
23    Mon Aug 31 00:00:00 2020
24    Mon Sep  7 00:00:00 2020
25    Mon Sep 14 00:00:00 2020
26    Mon Sep 21 00:00:00 2020
27    Mon Sep 28 00:00:00 2020
28    Mon Oct  5 00:00:00 2020
29    Mon Oct 12 00:00:00 2020
30    Mon Oct 19 00:00:00 2020
31    Mon Oct 26 00:00:00 2020
32    Mon Nov  2 00:00:00 2020
33    Mon Nov  9 00:00:00 2020
34    Mon Nov 16 00:00:00 2020
35    Mon Nov 23 00:00:00 2020
36    Mon Nov 30 00:00:00 2020
37    Mon Dec  7 00:00:00 2020
38    Mon Dec 14 00:00:00 2020
39    Mon Dec 21 00:00:00 2020
40    Mon Dec 28 00:00:00 2020
Name: Data, dtype: object

In [28]:
display(len(data))
display(len(data2))

41

41

In [29]:
for item in data:
  print("i = "+str(i))
  print("item "+"i "+"= "+str(item))
  data2[i]=datetime.datetime.strptime(item,
'%a %b %d %H:%M:%S %Y').strftime('%d/%m/%Y')
  print("data2 = "+str(data2[i]))
  i=i+1
  print("--------------------------------")

i = 0
item i = Mon Mar 23 00:00:00 2020
data2 = 23/03/2020
--------------------------------
i = 1
item i = Mon Mar 30 00:00:00 2020
data2 = 30/03/2020
--------------------------------
i = 2
item i = Mon Apr  6 00:00:00 2020
data2 = 06/04/2020
--------------------------------
i = 3
item i = Mon Apr 13 00:00:00 2020
data2 = 13/04/2020
--------------------------------
i = 4
item i = Mon Apr 20 00:00:00 2020
data2 = 20/04/2020
--------------------------------
i = 5
item i = Mon Apr 27 00:00:00 2020
data2 = 27/04/2020
--------------------------------
i = 6
item i = Mon May  4 00:00:00 2020
data2 = 04/05/2020
--------------------------------
i = 7
item i = Mon May 11 00:00:00 2020
data2 = 11/05/2020
--------------------------------
i = 8
item i = Mon May 18 00:00:00 2020
data2 = 18/05/2020
--------------------------------
i = 9
item i = Mon May 25 00:00:00 2020
data2 = 25/05/2020
--------------------------------
i = 10
item i = Mon Jun  1 00:00:00 2020
data2 = 01/06/2020
--------------------------------
i = 11
item i = Mon Jun  8 00:00:00 2020
data2 = 08/06/2020
--------------------------------
i = 12
item i = Mon Jun 15 00:00:00 2020
data2 = 15/06/2020
--------------------------------
i = 13
item i = Mon Jun 22 00:00:00 2020
data2 = 22/06/2020
--------------------------------
i = 14
item i = Mon Jun 29 00:00:00 2020
data2 = 29/06/2020
--------------------------------
i = 15
item i = Mon Jul  6 00:00:00 2020
data2 = 06/07/2020
--------------------------------
i = 16
item i = Mon Jul 13 00:00:00 2020
data2 = 13/07/2020
--------------------------------
i = 17
item i = Mon Jul 20 00:00:00 2020
data2 = 20/07/2020
--------------------------------
i = 18
item i = Mon Jul 27 00:00:00 2020
data2 = 27/07/2020
--------------------------------
i = 19
item i = Mon Aug  3 00:00:00 2020
data2 = 03/08/2020
--------------------------------
i = 20
item i = Mon Aug 10 00:00:00 2020
data2 = 10/08/2020
--------------------------------
i = 21
item i = Mon Aug 17 00:00:00 2020
data2 = 17/08/2020
--------------------------------
i = 22
item i = Mon Aug 24 00:00:00 2020
data2 = 24/08/2020
--------------------------------
i = 23
item i = Mon Aug 31 00:00:00 2020
data2 = 31/08/2020
--------------------------------
i = 24
item i = Mon Sep  7 00:00:00 2020
data2 = 07/09/2020
--------------------------------
i = 25
item i = Mon Sep 14 00:00:00 2020
data2 = 14/09/2020
--------------------------------
i = 26
item i = Mon Sep 21 00:00:00 2020
data2 = 21/09/2020
--------------------------------
i = 27
item i = Mon Sep 28 00:00:00 2020
data2 = 28/09/2020
--------------------------------
i = 28
item i = Mon Oct  5 00:00:00 2020
data2 = 05/10/2020
--------------------------------
i = 29
item i = Mon Oct 12 00:00:00 2020
data2 = 12/10/2020
--------------------------------
i = 30
item i = Mon Oct 19 00:00:00 2020
data2 = 19/10/2020
--------------------------------
i = 31
item i = Mon Oct 26 00:00:00 2020
data2 = 26/10/2020
--------------------------------
i = 32
item i = Mon Nov  2 00:00:00 2020
data2 = 02/11/2020
--------------------------------
i = 33
item i = Mon Nov  9 00:00:00 2020
data2 = 09/11/2020
--------------------------------
i = 34
item i = Mon Nov 16 00:00:00 2020
data2 = 16/11/2020
--------------------------------
i = 35
item i = Mon Nov 23 00:00:00 2020
data2 = 23/11/2020
--------------------------------
i = 36
item i = Mon Nov 30 00:00:00 2020
data2 = 30/11/2020
--------------------------------
i = 37
item i = Mon Dec  7 00:00:00 2020
data2 = 07/12/2020
--------------------------------
i = 38
item i = Mon Dec 14 00:00:00 2020
data2 = 14/12/2020
--------------------------------
i = 39
item i = Mon Dec 21 00:00:00 2020
data2 = 21/12/2020
--------------------------------
i = 40
item i = Mon Dec 28 00:00:00 2020
data2 = 28/12/2020
--------------------------------

In [30]:
df_total['Data_Simp']=data2

In [31]:
display(df_total)

,Semana,Amarela,Branca,Indígena,Parda,Preta,Total,Semana_Num,Data,Data_Simp
0,SE_20 12,2.0,51.0,0.0,5.0,2.0,60.0,12,Mon Mar 23 00:00:00 2020,23/03/2020
1,SE_20 13,12.0,229.0,1.0,42.0,17.0,301.0,13,Mon Mar 30 00:00:00 2020,30/03/2020
2,SE_20 14,28.0,591.0,1.0,168.0,71.0,859.0,14,Mon Apr 6 00:00:00 2020,06/04/2020
3,SE_20 15,45.0,1028.0,3.0,339.0,135.0,1550.0,15,Mon Apr 13 00:00:00 2020,13/04/2020
4,SE_20 16,64.0,1470.0,3.0,526.0,190.0,2253.0,16,Mon Apr 20 00:00:00 2020,20/04/2020
5,SE_20 17,92.0,1971.0,4.0,733.0,268.0,3068.0,17,Mon Apr 27 00:00:00 2020,27/04/2020
6,SE_20 18,116.0,2605.0,4.0,1016.0,370.0,4111.0,18,Mon May 4 00:00:00 2020,04/05/2020
7,SE_20 19,146.0,3220.0,6.0,1317.0,456.0,5145.0,19,Mon May 11 00:00:00 2020,11/05/2020
8,SE_20 20,164.0,3905.0,7.0,1615.0,576.0,6267.0,20,Mon May 18 00:00:00 2020,18/05/2020
9,SE_20 21,183.0,4573.0,8.0,1940.0,661.0,7365.0,21,Mon May 25 00:00:00 2020,25/05/2020
10,SE_20 22,202.0,5260.0,8.0,2210.0,768.0,8448.0,22,Mon Jun 1 00:00:00 2020,01/06/2020
11,SE_20 23,224.0,5914.0,9.0,2472.0,885.0,9504.0,23,Mon Jun 8 00:00:00 2020,08/06/2020
12,SE_20 24,248.0,6572.0,10.0,2742.0,997.0,10569.0,24,Mon Jun 15 00:00:00 2020,15/06/2020
13,SE_20 25,263.0,7127.0,11.0,2951.0,1093.0,11445.0,25,Mon Jun 22 00:00:00 2020,22/06/2020
14,SE_20 26,279.0,7613.0,11.0,3126.0,1170.0,12199.0,26,Mon Jun 29 00:00:00 2020,29/06/2020
15,SE_20 27,300.0,8038.0,11.0,3282.0,1245.0,12876.0,27,Mon Jul 6 00:00:00 2020,06/07/2020
16,SE_20 28,311.0,8477.0,11.0,3432.0,1304.0,13535.0,28,Mon Jul 13 00:00:00 2020,13/07/2020
17,SE_20 29,330.0,8918.0,12.0,3574.0,1373.0,14207.0,29,Mon Jul 20 00:00:00 2020,20/07/2020
18,SE_20 30,335.0,9325.0,12.0,3722.0,1435.0,14829.0,30,Mon Jul 27 00:00:00 2020,27/07/2020
19,SE_20 31,348.0,9679.0,12.0,3849.0,1477.0,15365.0,31,Mon Aug 3 00:00:00 2020,03/08/2020
20,SE_20 32,366.0,10057.0,12.0,3991.0,1518.0,15944.0,32,Mon Aug 10 00:00:00 2020,10/08/2020
21,SE_20 33,377.0,10387.0,12.0,4120.0,1569.0,16465.0,33,Mon Aug 17 00:00:00 2020,17/08/2020
22,SE_20 34,388.0,10669.0,12.0,4224.0,1612.0,16905.0,34,Mon Aug 24 00:00:00 2020,24/08/2020
23,SE_20 35,399.0,10969.0,12.0,4312.0,1639.0,17331.0,35,Mon Aug 31 00:00:00 2020,31/08/2020
24,SE_20 36,410.0,11207.0,12.0,4392.0,1674.0,17695.0,36,Mon Sep 7 00:00:00 2020,07/09/2020
25,SE_20 37,421.0,11446.0,13.0,4477.0,1705.0,18062.0,37,Mon Sep 14 00:00:00 2020,14/09/2020
26,SE_20 38,427.0,11657.0,13.0,4542.0,1739.0,18378.0,38,Mon Sep 21 00:00:00 2020,21/09/2020
27,SE_20 39,432.0,11821.0,14.0,4595.0,1766.0,18628.0,39,Mon Sep 28 00:00:00 2020,28/09/2020
28,SE_20 40,437.0,11997.0,14.0,4649.0,1789.0,18886.0,40,Mon Oct 5 00:00:00 2020,05/10/2020
29,SE_20 41,441.0,12135.0,14.0,4705.0,1808.0,19103.0,41,Mon Oct 12 00:00:00 2020,12/10/2020
30,SE_20 42,447.0,12241.0,14.0,4752.0,1828.0,19282.0,42,Mon Oct 19 00:00:00 2020,19/10/2020
31,SE_20 43,451.0,12333.0,14.0,4783.0,1846.0,19427.0,43,Mon Oct 26 00:00:00 2020,26/10/2020
32,SE_20 44,457.0,12438.0,14.0,4820.0,1855.0,19584.0,44,Mon Nov 2 00:00:00 2020,02/11/2020
33,SE_20 45,459.0,12543.0,15.0,4856.0,1869.0,19742.0,45,Mon Nov 9 00:00:00 2020,09/11/2020
34,SE_20 46,465.0,12680.0,15.0,4898.0,1885.0,19943.0,46,Mon Nov 16 00:00:00 2020,16/11/2020
35,SE_20 47,475.0,12839.0,15.0,4946.0,1901.0,20176.0,47,Mon Nov 23 00:00:00 2020,23/11/2020
36,SE_20 48,484.0,13031.0,15.0,4997.0,1931.0,20458.0,48,Mon Nov 30 00:00:00 2020,30/11/2020
37,SE_20 49,492.0,13259.0,15.0,5073.0,1958.0,20797.0,49,Mon Dec 7 00:00:00 2020,07/12/2020
38,SE_20 50,503.0,13521.0,16.0,5139.0,1998.0,21177.0,50,Mon Dec 14 00:00:00 2020,14/12/2020
39,SE_20 51,514.0,13822.0,16.0,5223.0,2037.0,21612.0,51,Mon Dec 21 00:00:00 2020,21/12/2020
40,SE_20 52,529.0,14106.0,16.0,5303.0,2081.0,22035.0,52,Mon Dec 28 00:00:00 2020,28/12/2020

In [32]:
df_total.to_csv('cor-semana-pivot-tratado-total-dates-simp.csv')